<div class="card card-custom mt-3">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex align-items-center">
        <h3 class="card-label">Danh sách bài học</h3>
        <button type="button" class="btn btn-outline-secondary" routerLink="add"><i class="ki ki-plus"></i> Thêm bài học</button>
        <button type="button" class="btn btn-primary ml-2" (click)="fileInput.click()">
          <span>Upload bài học</span>
          <input #fileInput type="file" (change)="uploadLesson($event)" style="display: none" />
        </button>
        <a href="assets/Template Giáo án.xlsx" class="ml-3 h6 mb-0"> Download file bài học mẫu </a>
      </div>
    </div>
    <div class="w-75 mt-2">
      <div class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-4 mt-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Level</span>
              </div>
              <select class="form-control" name="gradeId" [(ngModel)]="filter.gradeId" (change)="changeGrade()">
                <option value="0">Tất cả</option>
                <option *ngFor="let g of grades" [value]="g.id">
                  {{ g.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 mt-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Chủ đề</span>
              </div>
              <select class="form-control" [(ngModel)]="filter.topicId" (change)="filterChanged()" name="topicId">
                <option *ngIf="topics.length == 0" value="0">Không có chủ đề</option>
                <option value="0">Tất cả</option>
                <option *ngFor="let t of topics" [value]="t.id">
                  {{ t.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-lg-4 mt-2">
            <div class="input-icon-custom">
              <input
                class="form-control"
                [(ngModel)]="filter.searchTerm"
                name="searchText"
                type="search"
                placeholder="Tìm kiếm bài học"
                (change)="filterChanged()"
              />
              <span><i class="flaticon2-search-1 icon-md"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 3%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ lesson.topic.grade.name }}</td>
            <td>{{ lesson.topic.name }}</td>
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.listLPW }}</td>
            <td>{{ lesson?.lastModifiedByUser?.userName }}</td>
            <td>{{ lesson.lastModifiedDate ? (lesson.lastModifiedDate * 1000 | date: this.sharedService.getDateFormat()) : '' }}</td>
            <td>
              <div class="custom-control custom-switch custom-switch-md text-center">
                <label>
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="lesson.status" (ngModelChange)="changeStatus(lesson)" />
                  <div class="custom-control-label"></div>
                </label>
              </div>
            </td>
            <td>
              <a [routerLink]="'edit/' + lesson.id + '/2'">
                <span [inlineSVG]="'./assets/media/svg/icons/Text/Menu.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"> </span>
                Sửa nội dung
              </a>
              <a [routerLink]="'edit/' + lesson.id + '/1'" class="mx-3">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Sửa thông tin
              </a>
              <a target="_blank" [routerLink]="'/lesson/' + lesson.id" *ngIf="lesson.type == 1">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Media/DVD.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-warning svg-icon-2x"
                >
                </span>
                Xem bài học
              </a>
              <a title="Xoá" href="javascript:;" class="text-danger ml-2" (click)="removeLesson(lesson)" *ngIf="auth.isSuperAdmin()">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger svg-icon-2x"
                >
                </span
                >Xóa
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table *ngIf="!isLoading" [length]="lessons?.length" [height]="100" text="Không có bài học."></app-empty-table>
    </div>
  </div>
</div>
<common-modal #confirmationModal (newConfirmationEvent)="getConfirmationValue($event)"> </common-modal>
