<div>
  <div *ngFor="let c of configs; let configIndex=index">
    <!-- scene info row start -->
    <div class="d-flex align-items-center pt-3">
      <h6 class="flex-grow-1 mb-0">Màn chơi {{configIndex+1}}</h6>
      <a href="javascript:;" (click)="removeGameScene(configIndex)">
        <i class="ki ki-bold-close icon-lg text-danger"></i>
      </a>
    </div>
    
    <!-- scene info row end -->
    <div class="classify1-game-scene-wrapper border rounded pt-4">
      <!-- word type row start -->
      <div class="d-flex align-items-center">
        <div class="col-sm-2 col-3">
          <label class="pl-4 mb-0">Nhóm từ chính</label>
        </div>
        <div class="col-sm-4 col-9 pl-0">
          <input class="form-control" type="text" placeholder="Nhóm từ chính" [(ngModel)]="c.Text"/>
        </div>
      </div>
      <!-- word type row end -->
      
      <!-- number of words row start -->
      <div class="d-flex align-items-center pt-3">
        <div class="col-sm-2 col-3">
          <label class="pl-4 mb-0">Số lượng hình</label>
        </div>
        <div class="col-sm-10 col-9 pl-0">
          <ul class="nav nav-pills card-header-pills ml-0" role="tablist">
            <li class="nav-item mr-3 mb-1" *ngFor="let number of numberOfPicturesInGameScene;">
                <a (click)="setActiveTab(number, configIndex)" 
                  [ngClass]="getActiveTabCSSClass(number, configIndex)" 
                  class="nav-link cursor-pointer mt-2">
                  {{zeroPad(number, 2)}} hình
                </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- number of words row end -->

      <!-- header row start -->
      <div class="d-flex align-items-center pt-4 pb-3">
        <div class="col-sm-1 col-3">
          <label class="mb-0 pl-4" pl-4>Hình ảnh</label>
        </div>
        <div class="col-sm-1 col-0">
        </div>
        <div class="col-sm-10 col-6 pl-0">
          <label class="mb-0">Đề bài (audio, chỉ upload cho các đáp án đúng)</label>
        </div>
      </div>
      <!-- header row end -->

      <!-- tab content start -->
      <div class="card-body tab-content p-0">
        <div class="tab-pane" *ngFor="let number of numberOfPicturesInGameScene;" [ngClass]="getActiveTabCSSClass(number, configIndex)">
          <div class="d-flex align-items-center pt-3 pb-3 border-top" *ngFor="let item of [].constructor(c.DataItem.length); let itemIndex = index;">
            <div class="col-sm-1 col-3 d-flex align-items-center">
              <div class="pl-4 w-100">
                <app-input-img
                (setValueToChild)="setImageSource(configIndex, itemIndex, $event)"
                [currentUrl]="c.DataItem[itemIndex].LinkImg"
                type="thumbnail"
                [folder]="this.classify1GroupsFolder"
                ></app-input-img>
              </div>
            </div>
            <div class="col-sm-1 col-0">
            </div>
            <div class="col-sm-9 col-6 pl-0 d-flex align-items-center">
              <div class="col-sm-1 col-6 pl-0">
                <button class="btn btn-secondary" type="button" (click)="uploadResource(configIndex, itemIndex, 'audio')">
                  Upload
                </button>
              </div>
              <div class="col-sm-11 col-6 pl-0 d-flex align-items-center">
                <a *ngIf="c.DataItem[itemIndex].LinkAudio" target="_blank" [href]="c.DataItem[itemIndex].LinkAudio" class="ml-3" style="font-size: 14px; text-decoration: underline"
                >Nghe thử</a
              >
              </div>
            </div>
            <div class="col-sm-1 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <a class="mt-2 d-flex align-items-center" href="javascript:;" (click)="removeAudio(configIndex, itemIndex)">
                  <div class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </div>
                  <span class="mw-100 pl-1" style="color: red;">
                    Xóa
                  </span>
                </a>
              </div>
            </div>      
          </div>
        </div>
      </div>
      <!-- tab content end -->
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-secondary mt-2"
    (click)="addNewGameScene()"
  >
    <i class="ki ki-plus icon-sm"></i> Thêm màn chơi
  </button>
</div>
