.classify1-game-scene-wrapper {
  background-color: #FAFAFA;
}

// card active color
.nav-link.active {
  background-color: #F2CE5F !important;
  color: #2C384A !important;
}

// card inactive color
.nav-link {
  color: #2C384A !important;
  background-color: #FFFFFF;
  border-style: solid !important;
  border: 1px;
  border-color: #B1B7C1;
  // height: 34px;
}

.span-wrap-text 
{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}