<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label"> Danh sách chức năng </span>
      </h3>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th style="width: 30%">Tên chức năng</th>
            <th style="width: 30%">Chức năng</th>
            <th style="width: 10%">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of roles; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <ng-container *ngIf="!r.isUpdate">
                {{ r.title }}
              </ng-container>
              <ng-container *ngIf="r.isUpdate">
                <input type="text" class="form-control" [name]="'role' + i" [(ngModel)]="r.title" (blur)="onBlurMethod(r)" [class]="'role' + i" />
              </ng-container>
            </td>
            <td>{{ r.name }}</td>
            <td>
              <a title="Chỉnh sửa thông tin role" href="javascript:;" (click)="onUpdate('role' + i, r)" class="ml-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="roles.length" [height]="100" text="Không có dữ liệu."></app-empty-table>
    </div>
  </div>
</div>
