<div style="overflow: hidden" (mousemove)="onmousemove($event, 'mouse')" (touchmove)="onmousemove($event, 'touch')">
  <div #header class="nav-bar-lesson">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark" *ngIf="lesson?.name">{{ lesson?.name }}</span>
    </h3>
  </div>
  <div class="box" [ngStyle]="{ 'margin-top': headerHeight + 'px', height: 'calc(100vh - ' + headerHeight + 'px)' }">
    <div class="box-left">
      <div class="player-doc">
        <div class="player" #player>
          <div style="width: 100%; height: 100%">
            <iframe
              [title]="selectedDocument.name"
              width="100%"
              height="100%"
              *ngIf="selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.GAME"
              #gameX
              scrolling="yes"
            ></iframe>
            <app-video-hls
              *ngIf="selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.VIDEO"
              [url]="selectedDocument.fileContent"
              (setVideo)="setObjVideo($event)"
              (endVideo)="end('VIDEO')"
              [controls]="false"
            ></app-video-hls>
            <video
              src="./assets/video/default.mp4"
              [title]="selectedDocument.name"
              width="100%"
              height="100%"
              *ngIf="selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.AUDIO"
              #transcriptVideo
              controlslist="nodownload"
              loop
            ></video>
            <audio
              [src]="selectedDocument.fileContent"
              *ngIf="selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.AUDIO"
              #transcriptAudio
              on-ended="end('TRANSCRIPT')"
            ></audio>
            <img
              [src]="selectedDocument.fileContent"
              *ngIf="selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.IMAGE"
              alt=""
              width="100%"
              height="100%"
            />
          </div>
          <div #control id="control">
            <div style="max-width: 670px">
              <div>
                <div>
                  <div
                    (click)="replay()"
                    class="btn-control"
                    [ngClass]="{
                      disableBtn:
                        selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.GAME || selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.IMAGE
                    }"
                  >
                    <div>
                      <div>
                        <img src="./assets/icon-lesson/replay.svg" />
                      </div>
                    </div>
                    <p>Phát lại</p>
                  </div>
                  <div class="btn-control">
                    <div>
                      <div (click)="closeFullScreen()" class="rounded-circle" *ngIf="fullScreen">
                        <img src="./assets/icon-lesson/fullscreen.svg" />
                      </div>
                      <div (click)="openFullScreen()" class="rounded-circle" *ngIf="!fullScreen">
                        <img src="./assets/icon-lesson/exitfullscreen.svg" />
                      </div>
                    </div>
                    <p>
                      {{ fullScreen ? 'Thu nhỏ' : 'Phóng to' }}
                    </p>
                  </div>
                </div>
                <div>
                  <div class="btn-control">
                    <div>
                      <div (click)="documentAction('PREV')">
                        <img src="./assets/icon-lesson/prev.svg" />
                      </div>
                    </div>
                    <p>Trang trước</p>
                  </div>
                  <div
                    class="btn-control"
                    [ngClass]="{
                      disableBtn:
                        selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.GAME || selectedDocument.documentTypeId == $DOCUMENT_FILE_TYPE.IMAGE
                    }"
                  >
                    <div (click)="onClickPlay()">
                      <div>
                        <img src="./assets/icon-lesson/pause.svg" *ngIf="isPlay" />
                        <img src="./assets/icon-lesson/play.svg" *ngIf="!isPlay" />
                      </div>
                    </div>
                    <p>
                      {{ !isPlay ? 'Tiếp tục' : 'Tạm dừng' }}
                    </p>
                  </div>
                  <div class="btn-control">
                    <div>
                      <div (click)="documentAction('NEXT')">
                        <img src="./assets/icon-lesson/next.svg" />
                      </div>
                    </div>
                    <p>Trang sau</p>
                  </div>
                </div>
                <div>
                  <div class="btn-control">
                    <div>
                      <div (click)="prevSection(selectedDocument.sectionsIdx)">
                        <img src="./assets/icon-lesson/prevS.svg" />
                      </div>
                    </div>
                    <p>Phần học trước</p>
                  </div>
                  <div class="btn-control">
                    <div>
                      <div (click)="nextSection(selectedDocument.sectionsIdx)">
                        <img src="./assets/icon-lesson/nextS.svg" />
                      </div>
                    </div>
                    <p>Phần học sau</p>
                  </div>
                </div>
              </div>
              <div class="activity-desc">
                <div>
                  <h6 style="font-weight: 650">Hoạt động tiếp theo</h6>
                </div>
                <div [innerHTML]="nextAct?._teacherActivity"></div>
              </div>
            </div>
          </div>
          <div
            class="btn-show-control"
            id="bee"
            (mousedown)="onmousedown($event)"
            (touchstart)="onmousedown($event)"
            (mouseup)="onmouseup($event)"
            (touchend)="onmouseup($event)"
            (dragstart)="ondragstart()"
            (click)="showControl()"
          >
            <img [src]="'./assets/icon-lesson/' + (isShowControl ? 'hidden.svg' : 'bee.svg')" />
          </div>
        </div>
      </div>
    </div>
    <div class="box-controls" style="width: 300px">
      <div class="px-2 py-4 d-flex" #checkAuto>
        <span class="switch switch-sm">
          <label>
            <input
              type="checkbox"
              class="custom-control-input custom-input"
              id="customSwitches"
              [checked]="autoPlay"
              (change)="changeAutoPlay($event)"
            />
            <span></span>
          </label>
        </span>
        <label class="col-12 col-form-label">Tự động phát nội dung kế tiếp</label>
      </div>
      <ngb-accordion #acc="ngbAccordion" [activeIds]="panelId" class="custom-accordion">
        <ngb-panel *ngFor="let s of sections; index as i1" id="ngb-panel-{{ i1 }}">
          <ng-template ngbPanelTitle (click)="setSections(i1)">
            <h3 class="card-header--title">
              {{ s.name }}
            </h3>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive angular-bootstrap-table" *ngFor="let a of s.activities; let i2 = index">
              <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                  <tr>
                    <th style="border-top: 1px #ebedf3 solid" style="letter-spacing: 0 !important">
                      <div class="d-flex">
                        <span class="activity"> {{ a.name }}</span>
                        <div class="activity-timer">
                          <img src="./assets/icon-lesson/Icon.svg" style="width: 15px; height: 15px" />
                          <span class="text-muted font-weight-bold font-size-sm" style="text-transform: lowercase !important"
                            >{{ a.timeActivity }} phút</span
                          >
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let da of a.documentActivities; let i3 = index" (click)="setDocument(da.document, i1, i2, i3)">
                    <td
                      class="cursor-pointer"
                      [ngClass]="{
                        documentactive:
                          selectedDocument.documentIdx == i3 && selectedDocument.activitiesIdx == i2 && selectedDocument.sectionsIdx == i1
                      }"
                    >
                      <div class="img-icon">
                        <img [src]="$DOCUMENT_FILE_IMAGE[da.document.documentTypeId]" />
                        <ng-container *ngIf="da.document.documentTypeId == $DOCUMENT_FILE_TYPE.AUDIO">
                          <span> {{ da.document.docTypeName }}: {{ this.getDisplayAudioName(da.document.name) }} </span>
                        </ng-container>
                        <ng-container *ngIf="da.document.documentTypeId != $DOCUMENT_FILE_TYPE.AUDIO">
                          <span> {{ da.document.docTypeName }}: {{ da.document.name }}</span>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
