:host {
  width: 100%;
  @media (min-width: 992px) {
    .lesson-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
// @media (min-width: 576px) {
//     .box-left,
//     .box-controls {
//         height: auto !important;
//     }
// }
.box-left {
  height: 100%;
  width: calc(100vw - 300px);
  & > div {
    height: 100%;
  }
}
.box-controls {
  flex: 1;
  overflow-x: hidden;
  & > div:first-child {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  .header {
    padding-left: 20px;
  }
  .count {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    font-size: 14px;
    .space {
      margin-top: 1px;
      opacity: 0.8;
      padding: 0 8px;
    }
  }
  .btn-lesson {
    border: 0 !important;
    padding-left: 20px;
    &:hover {
      background-color: #f0ddbb !important;
      cursor: pointer;
    }
  }
  .active {
    background-color: #f0ddbb !important;
  }
}
.nav-bar-lesson {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #000 !important;
  display: flex;
  padding: 10px 40px 10px 0px;
  & > div {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  & > h3 {
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 0;
  }
}
.box {
  overflow: hidden;
  display: flex;
  @media only screen and (max-width: 900px) {
    overflow: auto;
    display: block;
    & > div {
      width: 100% !important;
      height: auto !important;
      & > div {
        height: auto !important;
      }
    }
  }
}

.lesson-desc {
  border-bottom: 1px solid #dfdfe2;
  border-top: 1px solid #dfdfe2;
}
.custom-accordion {
  ::ng-deep {
    .card .card-header {
      background-color: #fff;
    }
    .btn-link {
      width: 100%;
      text-decoration: none;
      .card-header--title {
        color: #6993ff;

        text-align: start;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
      }
    }
    .btn-link.collapsed {
      .card-header--title {
        color: #3a3a3a;
      }
    }
    .card-body {
      padding: 0;
    }
    table {
      margin-bottom: 0;
      th {
        padding-left: 20px;
        padding-right: 20px;
      }
      td {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .accordion-body {
    padding-left: 0;
    padding-right: 0;
  }

  .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-item {
    border-right: 0;
  }
}
.img-icon {
  display: flex;
  align-items: center;
  img {
    width: 18px;
    height: auto;
    margin: 3px 10px 3px 0;
  }
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.activity {
  flex: 1;
  line-height: 22px;
}
.activity-timer {
  font-size: 13px;
  color: #7d828a;
  display: flex;
  align-items: center;
  img {
    margin: 5px;
  }
}
.documentactive {
  background-color: #f2ce5f;
}

.btn-control {
  min-width: 70px;
  & > div {
    display: flex;
    justify-content: center;
    & > div {
      border: 1px solid #d8dbe0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 5px 10px;
      width: 40px;
      height: 40px;
    }
  }
  p {
    font-size: 13px;
    text-align: center;
  }
  @media only screen and (max-width: 900px) {
    min-width: auto;
  }
}
.show-control {
  transition: transform 0.8s ease, opacity 1.5s ease !important;
  transform: translateY(-100px) !important;
  opacity: 1 !important;
  display: flex !important;
}
.btn-show-control {
  position: fixed;
  right: 30px;
  cursor: pointer;
  bottom: 10%;
  min-width: auto;
  z-index: 100;
  width: 60px;
  height: 60px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.activity-desc {
  display: flex;
  & > div:first-child {
    width: 105px;
  }
  & > div {
    padding-bottom: 0 !important;
  }
  & > div + div {
    margin-left: 10px;
  }
  padding: 8px 16px;
  p {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
#control {
  position: absolute;
  bottom: -55px;
  opacity: 0;
  transition: transform 0.8s ease, opacity 1.5s ease;
  transform: translateY(0px);
  width: 100%;
  display: none;
  justify-content: center;
  & > div {
    border-radius: 24px !important;
    overflow: hidden;
    background-color: #ffffffa6;
    & > div:first-child {
      display: flex;
      border-bottom: 1px solid #e0e0e0;
      & > div + div {
        border-left: 1px solid #e0e0e0;
      }
      @media only screen and (max-width: 900px) {
        & > div:last-child {
          display: none;
        }
      }
      & > div {
        display: flex;
        cursor: pointer;
        & > div {
          margin: 0 10px;
          padding-bottom: 0 !important;
          @media only screen and (max-width: 900px) {
            margin: 0 8px;
          }
        }
        padding: 8px 0;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
.btn-control:hover > div > div {
  background-color: #ececee;
}
.disableBtn {
  opacity: 0.45;
}
.disableBtn.btn-control:hover > div > div {
  background-color: #fff !important;
}
.container-fluid {
  background-image: none;
}
