<div>
  <div class="mt-3" *ngFor="let c of configs; let i=index">
    <div class="label-game-config d-flex">
      <h6>Màn chơi {{i+1}}</h6>
    </div>
    <div class="row section-game">
      <div class="col-md-4 col-sm-12" style="padding-right: 50px">
        <div class="form-group">
          <label>Audio đề bài</label>
          <button class="btn btn-secondary ml-3" (click)="uploadRecourse(i, 'audio')" type="button">Upload</button>
          <a *ngIf="c.LinkAudio" target="_blank" [href]="c.LinkAudio" class="ml-3" style="font-size: 14px; text-decoration: underline">Nghe thử</a>
        </div>
        <div>
          <label>Ảnh đề bài</label>
          <app-input-img (setValueToChild)="setSrc($event, i)" [currentUrl]="c.LinkImg" type="thumbnail" [folder]="folderStore"></app-input-img>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
        <div class="flex-grow-1">
          <div class="form-group d-flex">
            <label class="mt-3">Số lượng đáp án</label>
            <button
              (click)="choiceAnswerType(2, i)"
              type="button"
              class="btn btn-custom-default ml-2"
              [ngClass]="{'btn-active': c.answerNumber == 2}"
            >
              2 đáp án
            </button>
            <button
              (click)="choiceAnswerType(3, i)"
              type="button"
              class="btn btn-custom-default ml-2"
              [ngClass]="{'btn-active': c.answerNumber == 3}"
            >
              3 đáp án
            </button>
            <button
              (click)="choiceAnswerType(4, i)"
              type="button"
              class="btn btn-custom-default ml-2"
              [ngClass]="{'btn-active': c.answerNumber == 4}"
            >
              4 đáp án
            </button>
          </div>
          <table class="table">
            <tr>
              <td>Danh sách đáp án</td>
              <td class="text-center">Đáp án đúng</td>
            </tr>
            <tr *ngFor="let aw of c.ListButton;let j=index">
              <td>
                <input class="form-control" [(ngModel)]="aw.Text" [name]="'answerName'+i+j" />
              </td>
              <td>
                <input
                  type="radio"
                  class="form-control"
                  [checked]="c.KeyPass && aw.Text==c.KeyPass"
                  (change)="choiceAnswerCorrect(i,j)"
                  [name]="'isCorrect'+i"
                />
              </td>
            </tr>
          </table>
        </div>
        <a href="javascript:;" *ngIf="i > 0" title="Xóa màn chơi" class="p-3" (click)="removeSection(i)">
          <i class="ki ki-bold-close icon-lg text-danger"></i>
        </a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
