<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="card-label font-weight-bolder text-dark mr-10">{{ classInfo.className }}</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light" (click)="back()"><i class="fa fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
  <div class="card card-custom">
    <div class="card-body mb-3 mt-3">
      <form [formGroup]="studentForm" class="form" id="kt_form" *ngIf="studentForm">
        <div class="form-group row">
          <div class="col-lg-6 mb-4">
            <label for="name">
              Họ và tên
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              [class.is-invalid]="isControlInvalid('name')"
              [class.is-valid]="isControlValid('name')"
              formControlName="name"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">Vui lòng nhập họ và tên học sinh!</div>
          </div>
          <div class="col-lg-6 mb-4">
            <label for="dob">
              Ngày sinh
              <span class="text-danger">*</span>
            </label>
            <input
              name="dob"
              id="dob"
              [class.is-invalid]="isControlInvalid('dob')"
              [class.is-valid]="isControlValid('dob')"
              formControlName="dob"
              type="date"
              class="form-control"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'dob')">Vui lòng nhập ngày sinh học sinh!</div>
          </div>
          <div class="col-lg-6 mb-4">
            <label>
              Giới tính
              <span class="text-danger">*</span>
            </label>
            <select
              name="gender"
              id="gender"
              [class.is-invalid]="isControlInvalid('gender')"
              [class.is-valid]="isControlValid('gender')"
              formControlName="gender"
              class="form-control"
            >
              <option [value]="true">Nam</option>
              <option [value]="false">Nữ</option>
            </select>
          </div>
          <div class="col-lg-6 mb-4">
            <label for="province"> Tỉnh/ Thành phố </label>
            <select
              name="provinceCode"
              id="provinceCode"
              formControlName="provinceCode"
              class="form-control"
              (change)="handleChangeAddress($event, 'province')"
            >
              <option value="">Chọn Tỉnh/Thành phố</option>
              <option [value]="p.code" *ngFor="let p of provinces">
                {{ p.name }}
              </option>
            </select>
          </div>
          <div class="col-lg-6 mb-4">
            <label for="district"> Quận/ Huyện </label>
            <select
              name="districtCode"
              id="districtCode"
              formControlName="districtCode"
              class="form-control"
              (change)="handleChangeAddress($event, 'district')"
            >
              <option value="">Chọn Quận/ Huyện</option>
              <option [value]="d.code" *ngFor="let d of districts">
                {{ d.name }}
              </option>
            </select>
          </div>
          <div class="col-lg-6 mb-4">
            <label for="ward"> Phường/ xã </label>
            <select name="districtCode" id="wardCode" formControlName="wardCode" class="form-control">
              <option value="">Chọn Phường/ xã</option>
              <option [value]="w.code" *ngFor="let w of wards">
                {{ w.name }}
              </option>
            </select>
          </div>
          <div class="col-lg-6 mb-4">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" name="address" id="address" formControlName="address" />
          </div>
          <div class="col-lg-6 mb-4">
            <label for="parentName"> Họ tên phụ huynh </label>
            <input
              class="form-control"
              name="parentName"
              id="parentName"
              [class.is-invalid]="isControlInvalid('parentName')"
              [class.is-valid]="isControlValid('parentName')"
              formControlName="parentName"
            />
          </div>
          <div class="col-lg-6 mb-4">
            <label for="phoneNumber"> Số điện thoại </label>
            <input
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              [class.is-invalid]="isControlInvalid('phoneNumber')"
              [class.is-valid]="isControlValid('phoneNumber')"
              formControlName="phoneNumber"
              minLength="10"
              maxlength="11"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phoneNumber')">Số điện thoại định dạng sai</div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="button"
            (click)="addStudent()"
            class="btn btn-success font-weight-bold text-uppercase px-9 py-4 spinner-white spinner-right"
            data-wizard-type="action-submit"
            [disabled]="studentForm?.invalid || isSubmitted || !isCodeValid"
            [ngClass]="{ spinner: isSubmitted }"
          >
            Thêm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
