<div>
  <div class="mt-3" *ngFor="let c of configs; let i=index">
    <div class="label-game-config d-flex">
      <h6>Màn chơi {{i+1}}</h6>
    </div>
    <div class="row section-game">
      <div class="col-md-12 col-sm-12 d-flex">
        <form class="flex-grow-1">
          <div class="form-group d-flex">
            <label>Ảnh đề bài</label>
            <div class="background-image-game ml-3">
              <app-input-img (setValueToChild)="setSrc($event, c)" [currentUrl]="c.LinkPhoto" type="thumbnail" [folder]="folderStore"></app-input-img>
            </div>

            <div class="action-upload-audio ml-15">
              <label>Số lượng miếng ghép</label>
              <ng-container *ngFor="let t of types">
                <button
                  [class]="c.Type==t.key? 'btn btn-light btn-hover-warning font-weight-bold active ml-3': 'btn btn-light btn-hover-warning font-weight-bold ml-3'"
                  (click)="changeType(c, t.key)"
                  type="button"
                >
                  {{t.value}}
                </button>
              </ng-container>
            </div>
          </div>
        </form>
        <a href="javascript:;" *ngIf="i > 0" title="Xóa màn chơi" (click)="removeSection(i)">
          <i class="ki ki-bold-close icon-lg text-danger"></i>
        </a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
