<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div class="card-title">
        <h3 class="card-label">Danh sách tin tức</h3>
      </div>
      <button type="button" class="btn btn-outline-secondary" routerLink="add"><i class="ki ki-plus"></i> Thêm tin tức</button>
    </div>
    <div class="card-toolbar">
      <div class="form form-label-right">
        <div class="form-group row mb-0">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Danh mục</span>
              </div>
              <select class="form-control" [(ngModel)]="filter.category" (ngModelChange)="categoryChanged()" name="category">
                <option value="0">Tất cả danh mục</option>
                <option *ngFor="let c of categories">{{ c }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>Stt</th>
          <th>Tiêu đề</th>
          <th>Danh mục</th>
          <th>Ngày tạo</th>
          <th style="width: 35%">Hành động</th>
        </thead>
        <tbody>
          <tr *ngFor="let n of news; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ n.title }}</td>
            <td>{{ n.category }}</td>
            <td>{{ n.createdDate ? (n.createdDate * 1000 | date: this.sharedService.getDateFormat()) : '' }}</td>
            <td>
              <a href="javascript:;" (click)="openNew(n)">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Media/DVD.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-warning svg-icon-2x"
                >
                </span>
                Xem chi tiết
              </a>
              <a title="Chỉnh sửa tin tức" class="ml-4" [routerLink]="'edit/' + n.id">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa
              </a>
              <!-- <a title="Xoá" href="javascript:;" class="text-danger ml-2" (click)="remove(n)" *ngIf="auth.isAdmin()">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger svg-icon-2x"
                >
                </span
                >Xóa
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="news?.length" [height]="100" text="Không có tin tức."></app-empty-table>
    </div>
  </div>
</div>

<common-modal #confirmationModal (newConfirmationEvent)="getConfirmationValue($event)"> </common-modal>
