<div>
  <div class="mt-3" *ngFor="let c of configs; let i=index">
    <div class="label-game-config d-flex">
      <h6>Màn chơi {{i+1}}</h6>
    </div>
    <div class="container section-game">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Số lượng thẻ/hàng</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex btn-group-custom">
              <button
                type="button"
                class="btn btn-custom-default ml-2"
                [ngClass]="{'btn-active': p.value==c.dataTops.length}"
                *ngFor="let p of panes"
                (click)="setCount(c,p.value)"
              >
                {{p.name}}
              </button>
            </div>
          </div>
          <a href="javascript:;" title="Xóa màn chơi" (click)="removeSection(i)">
            <i class="ki ki-bold-close icon-lg text-danger"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Hàng 1</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex box-group-custom">
              <div *ngFor="let d of c.dataTops" [style.width]="'calc(100%/4)'">
                <div class="col-lg-9">
                  <div class="p-2">
                    <app-input-img [folder]="folderStore" (setValueToChild)="setSrc($event, d)" [currentUrl]="d.LinkImg" type="game"></app-input-img>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Hàng 2</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex box-group-custom">
              <div *ngFor="let d of c.dataBottoms" [style.width]="'calc(100%/4)'">
                <div class="col-lg-9">
                  <div class="p-2">
                    <app-input-img [folder]="folderStore" (setValueToChild)="setSrc($event, d)" [currentUrl]="d.LinkImg" type="game"></app-input-img>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
