<div class="login-form login-signin">
  <form class="form" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="submit()">
    <div class="pb-4 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Đăng nhập</h3>
      <p>Đăng nhập vào hệ thống CMS KIDSEnglish.</p>
    </div>

    <ng-container *ngIf="messageError">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">{{ messageError }}</div>
      </div>
    </ng-container>
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">Tài khoản</label>
      <input
        class="form-control h-auto py-7 px-6 rounded-lg"
        type="text"
        name="account"
        formControlName="account"
        autocomplete="off"
        [class.is-valid]="isControlValid('account')"
        [class.is-invalid]="isControlInvalid('account')"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Nhập tài khoản đăng nhập',
          control: loginForm.controls['account']
        }"
      ></ng-container>
    </div>
    <div class="mb-10 fv-row" data-kt-password-meter="true">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5">Mật khẩu</label>
      <div class="position-relative">
        <input
          class="form-control h-auto py-7 px-6 rounded-lg"
          type="password"
          name="password"
          autocomplete="off"
          formControlName="password"
          [class.is-valid]="isControlValid('password')"
          [class.is-invalid]="isControlInvalid('password')"
        />
        <span class="btn btn-sm btn-icon position-absolute" data-kt-password-meter-control="visibility" style="top: calc(50% - 16px); right: 30px">
          <i class="fas fa-eye-slash"></i>
          <i class="fas fa-eye d-none"></i>
        </span>
        <div class="position-absolute" style="bottom: -20px; left: 0px">
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Mật khẩu là bắt buộc',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Sai định dạng mật khẩu',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Sai định dạng mật khẩu',
              control: loginForm.controls['password']
            }"
          ></ng-container>
        </div>
      </div>
    </div>

    <div class="pb-lg-0 pb-5">
      <button
        type="submit"
        id="kt_login_signin_submit"
        class="btn btn-success font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3 text-dark"
        style="width: 100%; background-color: #f2ce5f; border-color: #f2ce5f"
        [disabled]="loginForm.invalid"
      >
        Đăng nhập
      </button>
      <a href="https://kidsenglish.vn/" target="blank" class="mt-2">Tìm hiểu thêm về chương trình KIDSEnglish</a>
      <p class="mt-2">
        © 2022. All Rights Reserved. Phát triển bởi
        <a href="https://vietec.com.vn/" target="blank">Vietec., Corp</a>
      </p>
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
  </form>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
