//
// Login 1
// Pages SASS files are compiled into separate css files
//

// Initialization of global variables, mixins and functions
@import '../../init';

.login.login-1 {
  .login-aside {
    .aside-img {
      min-height: 450px;
    }
  }

  // Form modes
  .login-signin,
  .login-signup,
  .login-forgot {
    display: none;
  }

  &.login-signin-on {
    .login-signup {
      display: none;
    }

    .login-signin {
      display: block;
    }

    .login-forgot {
      display: none;
    }
  }

  &.login-signup-on {
    .login-signup {
      display: block;
    }

    .login-signin {
      display: none;
    }

    .login-forgot {
      display: none;
    }
  }

  &.login-forgot-on {
    .login-signup {
      display: none;
    }

    .login-signin {
      display: none;
    }

    .login-forgot {
      display: block;
    }
  }
}

// Desktop view
@include media-breakpoint-up(lg) {
  .login.login-1 {
    .login-aside {
      width: 100%;
      max-width: 700px;
    }
    .img-login {
      padding-left: calc(100vh * 510 / 1080);
      position: relative;
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
    .login-content {
      width: 100%;
      max-width: 500px;

      .login-form {
        width: 100%;
        max-width: 450px;
      }
    }
  }
}

// Tablet and Mobile mode
@include media-breakpoint-between(lg, xl) {
  .login.login-1 {
    .login-aside {
      width: 100%;
      max-width: 450px;
    }
  }
  .img-login {
    padding-left: 0;
    img {
      width: 0;
      height: 0;
    }
  }
}

// Tablet mode
@include media-breakpoint-down(md) {
  .login.login-1 {
    .login-content {
      .login-form {
        width: 100%;
        max-width: 400px;
      }
    }
    .img-login {
      img {
        width: 0;
        height: 0;
      }
      padding-left: 0;
    }
  }
}

// Mobile mode
@include media-breakpoint-down(xs) {
  .login.login-1 {
    .aside-img {
      min-height: 300px !important;
      background-size: 400px;
    }
    .img-login {
      img {
        width: 0;
        height: 0;
      }
      padding-left: 0;
    }
    .login-content {
      .login-form {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
