<app-loading [isLoading]="isLoading"></app-loading>
<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title mt-2">
      <div class="d-flex align-items-center mt-3">
        <h3 class="card-label mr-10">Danh sách {{ isSchool ? 'trường học' : 'trung tâm Tiếng Anh' }}</h3>
        <button *ngIf="auth.isAdmin()" type="button" class="btn btn-outline-secondary" routerLink="add">
          <i class="ki ki-plus"></i> Thêm {{ isSchool ? 'trường học' : 'trung tâm' }}
        </button>
        <button *ngIf="auth.isAdmin()" type="button" class="btn btn-outline-secondary ml-3" (click)="exportExcel()">
          <i class="ki ki-long-arrow-down"></i>Tải về
        </button>
      </div>
    </div>
    <div class="w-75 mt-2 mb-2">
      <div class="form form-label-right">
        <div class="form-group row mb-0">
          <div [class]="isSchool ? 'col-lg-4 mt-3' : 'col-lg-6 mt-3'">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Tỉnh/Thành phố</span>
              </div>
              <select name="sl-program" class="form-control" (change)="changeFilter('provinceCode')" [(ngModel)]="filter.provinceCode">
                <option *ngFor="let p of provinces" [value]="p?.code">
                  {{ p?.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 mt-3" *ngIf="isSchool">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Quận/Huyện</span>
              </div>
              <select name="sl-topic" class="form-control" (change)="changeFilter('districtCode')" [(ngModel)]="filter.districtCode">
                <option *ngFor="let d of districts" [value]="d.code">
                  {{ d.name }}
                </option>
              </select>
            </div>
          </div>
          <div [class]="isSchool ? 'col-lg-4 mt-3' : 'col-lg-6 mt-3'">
            <div class="input-icon-custom">
              <input
                class="form-control"
                [(ngModel)]="filter.searchTerm"
                name="searchTerm"
                type="search"
                placeholder="Tìm kiếm trường học"
                (change)="changeFilter('searchTerm')"
              />
              <span><i class="flaticon2-search-1 icon-md"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 3%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
            <th style="width: 20%" *ngIf="auth.isAdmin() && isSchool">Triển khai chương trình học</th>
            <th class="text-center" style="width: 20%">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let organization of this.objectDataTable.datas; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.key == 'status'">
                <div class="custom-control custom-switch custom-switch-md text-center">
                  <label>
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [disabled]="!auth.isAdmin()"
                      [(ngModel)]="organization.status"
                      (ngModelChange)="activeCenter(organization)"
                    />
                    <div class="custom-control-label"></div>
                  </label>
                </div>
              </ng-container>
              <ng-container *ngIf="header.key == 'applyKidsenglish'">
                <div class="custom-control custom-switch custom-switch-md">
                  <label>
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [disabled]="organization.centerId == 1 || !auth.isAdmin()"
                      [(ngModel)]="organization.centerId"
                      (ngModelChange)="openModal(applyKidsEnglishModal, organization.id, 'kidsenglish')"
                    />
                    <div class="custom-control-label"></div>
                  </label>
                </div>
              </ng-container>
              <ng-container *ngIf="header.key == 'dateEnd'">
                {{ organization.dateEnd ? (organization.dateEnd * 1000 | date : this.sharedService.getDateFormat()) : '' }}
              </ng-container>
              <ng-container *ngIf="header.key == 'createdDate'">
                {{ organization.createdDate ? (organization.createdDate * 1000 | date : this.sharedService.getDateFormat()) : '' }}
              </ng-container>
              <ng-container *ngIf="header.key == 'centerTypeId' || header.key == 'packageId'">
                {{ getNameData(organization[header.key], header.key) }}
              </ng-container>
              <ng-container
                *ngIf="
                  header.key != 'applyKidsenglish' &&
                  header.key != 'status' &&
                  header.key != 'createdDate' &&
                  header.key != 'dateEnd' &&
                  header.key != 'packageId' &&
                  header.key != 'centerTypeId'
                "
              >
                {{ organization[header.key] }}
              </ng-container>
            </td>
            <td *ngIf="isSchool">
              <a
                class="mx-3"
                (click)="openModal(applyProgramModal, organization.id, 'program')"
                *ngIf="organization.centerId == 1"
                [ngClass]="{ 'cursor-pointer': organization.centerId == 1 }"
              >
                <span [inlineSVG]="'./assets/media/svg/icons/Text/Menu.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"> </span>
                Chọn chương trình triển khai
              </a>
            </td>
            <td>
              <a *ngIf="auth.isAdmin()" title="Chỉnh sửa thông tin tổ chức" class="mx-3" [routerLink]="'edit/' + organization.id">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa
              </a>
              <a href="javascript:;" *ngIf="auth.isSaler()" class="ml-3" (click)="resetPassword(organization.id)"> Đặt lại mật khẩu </a>
              <a *ngIf="currentUser?.roleId == ROLE_CUSTOMER_CARE" class="mx-3" [routerLink]="'edit/' + organization.id">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Media/DVD.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-warning svg-icon-2x"
                >
                </span>
                Xem thông tin
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table
        [length]="objectDataTable.datas?.length"
        [height]="100"
        [text]="'Không có ' + (isSchool ? 'trường học' : 'trung tâm')"
      ></app-empty-table>
    </div>
  </div>
</div>

<ng-template #applyKidsEnglishModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Xác nhận triển khai KIDSEnglish</h4>
    <button type="button" class="close" (click)="closeModal(organization, 'kidsenglish')" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>Xác nhận triển khai KIDSEnglish cho trường {{ organization.name }}.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning spinner-right"
      [ngClass]="{ spinner: isSubmitted }"
      [disabled]="isSubmitted"
      (click)="acceptApplyKidsenglish(representInfoModal)"
    >
      Xác nhận
    </button>
  </div>
</ng-template>

<ng-template #applyProgramModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Chọn chương trình triển khai</h4>
    <button type="button" class="close" (click)="closeModal(organization, 'program')" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>Triển khai chương trình học cho trường {{ organization.name }}.</p>
    <div class="form-group row">
      <div class="col-lg-12">
        <app-dual-listbox [data]="configDua" (obj)="setObj($event)"></app-dual-listbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning spinner-right"
      [ngClass]="{ spinner: isSubmitted }"
      [disabled]="isSubmitted"
      (click)="acceptApplyProgram()"
    >
      Xác nhận
    </button>
  </div>
</ng-template>

<ng-template #representInfoModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Xác nhận triển khai KIDSEnglish</h4>
    <button type="button" class="close" (click)="closeModalRepresentInfo()" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>Sử dụng thông tin đăng nhập dưới đây để đăng nhập vào hệ thống LMS của trường {{ organization.name }}</p>
    <p>Tài khoản: {{ representSchool.email }}</p>
    <p>Mật khẩu: abc123</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModalRepresentInfo()">Đóng</button>
  </div>
</ng-template>
