<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="studentDetail.student">
          {{ !id ? 'Thêm mới học sinh' : 'Thông tin học sinh: ' + studentDetail.student.name }}
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light" (click)="returnClass()"><i class="fa fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
  <div class="card-body mb-5">
    <div class="mt-5">
      <form class="form" id="kt_form" [formGroup]="studentForm" *ngIf="studentForm">
        <div class="row">
          <div class="col-xl-6">
            <div class="form-group">
              <label>Mã học sinh</label>
              <input type="text" class="form-control" name="code" [class.is-valid]="isControlValid('code')" formControlName="code" disabled />
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label
                >Họ tên
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                name="name"
                [class.is-invalid]="isControlInvalid('name')"
                [class.is-valid]="isControlValid('name')"
                formControlName="name"
              />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">Vui lòng nhập tên học sinh</div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label
                >Ngày sinh
                <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                type="date"
                [max]="maxDay | date: 'yyyy-MM-dd'"
                formControlName="dob"
                [class.is-invalid]="isControlInvalid('dob')"
                [class.is-valid]="isControlValid('dob')"
                name="dob"
              />
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label>Giới tính </label>
              <select class="form-control" formControlName="gender" [class.is-valid]="isControlValid('gender')">
                <option [value]="true">Nam</option>
                <option [value]="false">Nữ</option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label> Tỉnh/Thành phố</label>
              <select
                class="form-control"
                formControlName="provinceCode"
                [class.is-invalid]="isControlInvalid('provinceCode')"
                [class.is-valid]="isControlValid('provinceCode')"
                name="provinceCode"
                (change)="handleChangeAddress($event, 'province')"
              >
                <option value="">Chọn Tỉnh/Thành phố</option>
                <option *ngFor="let province of provinces" [value]="province.code">
                  {{ province.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label>Quận/Huyện</label>
              <select
                class="form-control"
                formControlName="districtCode"
                [class.is-invalid]="isControlInvalid('districtCode')"
                [class.is-valid]="isControlValid('districtCode')"
                name="districtCode"
                (change)="handleChangeAddress($event, 'district')"
              >
                <option value="">Chọn Quận/ Huyện</option>
                <option *ngFor="let district of districts" [value]="district.code">
                  {{ district.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label> Phường/Xã/Thị trấn </label>
              <select
                class="form-control"
                name="wardCode"
                formControlName="wardCode"
                [class.is-invalid]="isControlInvalid('wardCode')"
                [class.is-valid]="isControlValid('wardCode')"
              >
                <option value="">Chọn Phường/ xã</option>
                <option *ngFor="let ward of wards" [value]="ward.code">
                  {{ ward.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label>Địa chỉ </label>
              <input type="text" class="form-control" name="address" formControlName="address" [class.is-valid]="isControlValid('address')" />
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label>Họ tên cha/mẹ </label>
              <input
                name="parentName"
                class="form-control"
                formControlName="parentName"
                [class.is-invalid]="isControlInvalid('parentName')"
                [class.is-valid]="isControlValid('parentName')"
              />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'parentName')">Vui lòng nhập tên phụ huynh</div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label>Điện thoại </label>
              <input
                name="phoneNumber"
                formControlName="phoneNumber"
                [class.is-invalid]="isControlInvalid('phoneNumber')"
                [class.is-valid]="isControlValid('phoneNumber')"
                minLength="10"
                maxlength="11"
                class="form-control"
              />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'phoneNumber')">Vui lòng nhập số điện thoại phụ huynh</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phoneNumber')">Số điện thoại định dạng sai</div>
            </div>
          </div>
        </div>
        <div class="float-right">
          <a class="btn btn-default font-weight-bold mr-2" routerLink="/student-management/students">Hủy bỏ</a>
          <button
            (click)="save()"
            class="btn btn-success font-weight-bold text-uppercase spinner-white spinner-right"
            data-wizard-type="action-submit"
            [disabled]="studentForm?.invalid"
            [ngClass]="{ spinner: submitted }"
          >
            Lưu lại
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
