<c-row
  [gutter]="objFilter.items"
  class="mb-3 justify-content-end"
  [md]="objFilter.items"
  [xs]="1"
>
  <c-col *ngFor="let f of objFilter.fields">
    <c-input-group *ngIf="f.type=='select'">
      <span cInputGroupText id="basic-addon1">{{f.title}}:</span>
      <select
        cSelect
        [name]="f.key"
        [(ngModel)]="objFilter.filter[f.key]"
        (change)="handleFilter(f.key)"
        sizing="sm"
      >
        <option [value]="f.isAll" *ngIf="f.isAll||f.isAll==''">Tất cả</option>
        <option *ngFor="let l of f.list" [value]="f.keyId?l[f.keyId]:l">
          {{f.keyId?l[f.keyValue]:l }}
        </option>
      </select>
    </c-input-group>
    <c-input-group *ngIf="f.type=='input'">
      <span cInputGroupText id="basic-addon1">
        <svg cIcon name="cilSearch" size="xl"></svg>
      </span>
      <input
        cFormControl
        sizing="sm"
        [placeholder]="f.title"
        [name]="f.key"
        [(ngModel)]="objFilter.filter[f.key]"
        (ngModelChange)="handleFilter(f.key)"
      />
    </c-input-group>
  </c-col>
</c-row>
