<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex align-items-center">
        <h3 class="card-label">Danh sách nhân viên</h3>
        <button type="button" class="btn btn-outline-secondary" routerLink="add"><i class="ki ki-plus"></i> Thêm nhân viên</button>
      </div>
    </div>

    <div class="mb-2 w-50 mt-2">
      <div class="form form-label-right">
        <div class="form-group row mb-0">
          <div class="col-lg-6 mt-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Vai trò</span>
              </div>
              <select class="form-control" name="roleId" [(ngModel)]="filter.roleId" (change)="filterChanged()">
                <option [value]="0">Tất cả</option>
                <option *ngFor="let p of roles" [value]="p.id">
                  {{ p.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 mt-2">
            <div class="input-icon-custom">
              <input
                class="form-control"
                name="searchText"
                [(ngModel)]="filter.searchTerm"
                (change)="filterChanged()"
                placeholder="Tìm kiếm nhân viên"
                type="search"
              />
              <span><i class="flaticon2-search-1 icon-md"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
            <th style="width: 10%">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of objectDataTable.datas; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.type == 'text' || header.type == null">
                {{ user[header.key] }}
              </ng-container>
              <ng-container *ngIf="header.type == 'gender'">
                {{ user.gender == 1 ? 'Nam' : 'Nữ' }}
              </ng-container>
              <ng-container *ngIf="header.type == 'role'">
                {{ user.role.name }}
              </ng-container>
            </td>
            <td>
              <a title="Edit lesson" [routerLink]="'edit/' + user.id">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="objectDataTable.datas.length" [height]="100" text="Không có nhân viên."></app-empty-table>
    </div>
  </div>
</div>
