<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex align-items-center">
        <h3 class="card-label">Kế hoạch giảng dạy</h3>
      </div>
    </div>
    <div class="card-toolbar" style="width: 1000px">
      <div class="form-group row mb-0">
        <div class="col" *ngIf="typeOr == 1">
          <div class="input-group" style="width: 300px">
            <div class="input-group-prepend">
              <span class="input-group-text">Trường học</span>
            </div>
            <ng-select
              [items]="schools"
              bindLabel="name"
              bindValue="id"
              placeholder="Tìm kiếm trường học"
              [(ngModel)]="filterClass.organId"
              (ngModelChange)="changeFilter('school')"
              class="custom-select2"
              (clear)="clear('school', selectSchool)"
              notFoundText="Không tìm thấy trường"
              #selectSchool
            >
            </ng-select>
          </div>
        </div>
        <div class="col">
          <div class="input-group" style="width: 200px">
            <div class="input-group-prepend">
              <span class="input-group-text">Năm học</span>
            </div>
            <select class="form-control" name="yearId" [(ngModel)]="filterClass.yearId" (change)="changeFilter('year')">
              <option [value]="year.id" *ngFor="let year of years">
                {{ year.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group" style="width: 200px">
            <div class="input-group-prepend">
              <span class="input-group-text">Lớp học</span>
            </div>
            <ng-select
              [items]="classes"
              bindLabel="className"
              bindValue="classId"
              placeholder="Tìm kiếm lớp học"
              [(ngModel)]="filter.classId"
              (ngModelChange)="changeFilter('class')"
              class="custom-select2"
              notFoundText="Không tìm thấy lớp"
              (clear)="clear('class', selectClass)"
              #selectClass
            >
            </ng-select>
          </div>
        </div>
        <div class="col">
          <div class="input-group" style="width: 200px">
            <div class="input-group-prepend">
              <span class="input-group-text">Tuần học</span>
            </div>
            <select class="form-control" name="week" [(ngModel)]="filter.week" (change)="changeFilter('week')">
              <option [value]="week.value" *ngFor="let week of weeks">
                {{ week.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body pt-8">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden table-bordered">
        <thead>
          <th style="width: 14%" *ngFor="let day of data" class="text-center">
            {{ day.value }}
          </th>
        </thead>
        <tbody>
          <tr *ngIf="dataCount > 0">
            <td *ngFor="let d of data" style="vertical-align: top !important">
              <div class="card gutter-b" *ngFor="let da of d.dataLesson">
                <div class="card-body px-1 py-3 bg-light">
                  <p class="font-weight-bolder">
                    <span class="badge badge-warning" *ngIf="da.substituteTeacherId">GV dạy thay</span>
                  </p>
                  <p class="font-weight-bolder">
                    <span>
                      {{ da.studyTime }}
                    </span>
                  </p>
                  <p>
                    {{ da.organizationName }}
                  </p>
                  <p>
                    {{ da.className }}
                  </p>
                  <div>
                    <span>{{ da?.programName + '/' + 'Unit ' + da?.orderTopicId + ': ' + da?.topicName + '/' + da?.lessonName }}</span>
                  </div>
                  <div>
                    <span>{{ 'Giáo viên giảng dạy: ' + da.teacherName }}</span>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <div>
                      <button
                        (click)="openModalChangeTeacher(ModalTeacher, da)"
                        class="btn font-weight-bolder btn-primary font-size-h6 px-2 py-2 m-3"
                      >
                        Chọn GV dạy thay
                      </button>
                    </div>
                    <div>
                      <button
                        *ngIf="da.typeLesson == 1"
                        (click)="openLesson(da.lessonId)"
                        class="btn font-weight-bolder font-size-h6 px-2 py-2 m-3 btn-success"
                      >
                        <i class="fas fa-play-circle"></i>Mở bài học
                      </button>
                    </div>
                    <div>
                      <button
                        *ngIf="da.typeLesson == 2"
                        (click)="download('pdf', da.lesson)"
                        class="btn font-weight-bolder font-size-h6 px-2 py-2 m-3 btn-outline-secondary"
                      >
                        <img [src]="'./assets/pdf.svg'" class="mr-2" />Tải file Pdf
                      </button>
                    </div>
                    <div>
                      <button
                        *ngIf="da.typeLesson == 2"
                        (click)="download('word', da.lesson)"
                        class="btn font-weight-bolder font-size-h6 px-2 py-2 m-3 btn-outline-secondary"
                      >
                        <img [src]="'./assets/word.svg'" class="mr-2" />Tải file Word
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="dataCount" [height]="100" text="Không có dữ liệu."></app-empty-table>
    </div>
  </div>
</div>
<ng-template #ModalTeacher let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h3 class="d-flex align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark"> Chọn giáo viên dạy thay</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">Chỉ hiển thị danh sách giáo viên không có tiêt dạy trong khung giờ được chọn</span>
    </h3>
    <div class="input-group mt-8" style="width: 300px">
      <div class="input-group-prepend">
        <span class="input-group-text">Trường học</span>
      </div>

      <ng-select
        bindLabel="name"
        bindValue="id"
        placeholder="Tìm kiếm trường học"
        [(ngModel)]="filterTeacher.organId"
        (ngModelChange)="changeFilterTeacher()"
        class="custom-select2"
        (clear)="clear('schoolTeacher', selectSchoolTeacher)"
        notFoundText="Không tìm thấy trường"
        #selectSchoolTeacher
      >
        <ng-option [value]="currentUser.organization.id">Tất cả</ng-option>
        <ng-option *ngFor="let s of schools" [value]="s.id">{{ s.name }}</ng-option>
      </ng-select>
    </div>
    <div class="custom_input--teachingplan">
      <i class="flaticon2-search-1 icon-md mr-2" style="vertical-align: middle"></i>
      <input
        type="text"
        class="form-control"
        name="searchTerm"
        placeholder="Tìm giáo viên"
        [(ngModel)]="filterTeacher.searchTerm"
        (change)="changeFilterTeacher()"
      />
    </div>
    <form class="form" (ngSubmit)="save()">
      <div class="form-group row mb-2" class="custom-scoll-body">
        <div class="col-12 col-form-label">
          <div class="radio-list">
            <label class="radio radio-success d-flex aligt" *ngFor="let t of teachers">
              <input type="radio" name="category" [value]="t.id" [(ngModel)]="selectedTeachingPlan.substituteTeacherId" />
              <span></span>
              {{ t.userName }}
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-4" (click)="c('Close click')">Đóng</button>
        <button type="submit" class="btn btn-primary font-weight-bolder" [disabled]="!selectedTeachingPlan.substituteTeacherId">Lưu lại</button>
      </div>
    </form>
  </div>
</ng-template>
