<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!-- <div class="login-aside d-flex flex-column flex-row-auto" style="background-image: url('./assets/login.jpg')"></div> -->
    <div class="img-login">
      <img src="./assets/login.jpg" alt="" />
    </div>
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex flex-column-fluid flex-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
