<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="structure">
          {{ id ? 'Chỉnh sửa' : 'Thêm mới' }}
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light" routerLink="/structures"><i class="fa fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
  <div class="card-body mt-5 mb-5">
    <form class="form form-label-right" (ngSubmit)="save()">
      <div class="form-group row">
        <div class="col-lg-4">
          <label>Tên cấu trúc <span class="text-danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" [(ngModel)]="structure.name" name="structureName" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <label>Danh sách phần học</label>
        </div>
      </div>

      <div class="form-group row" *ngFor="let s of structure.sections; let i = index">
        <div class="col-lg-6 d-flex">
          <label class="col-lg-2 mt-3" for="sectionName">Phần học {{ i + 1 }}</label>
          <input type="text" (change)="changeSectionValue(i, $event)" [value]="s.name" name="sectionName" class="form-control mx-sm-3" />
        </div>
      </div>

      <div class="row">
        <button type="button" (click)="addSection()" class="btn btn-outline-secondary mt-5"><i class="ki ki-plus"></i> Thêm phần học</button>
      </div>
      <div class="float-right">
        <a class="btn btn-default font-weight-bold mr-2" routerLink="/structures">Hủy bỏ</a>
        <button type="submit" [disabled]="!structure.name" class="btn btn-primary font-weight-bold mr-2">Lưu lại</button>
      </div>
    </form>
  </div>
</div>
