<a routerLink="/">
  <img alt="Logo" src="./assets/logo.svg" />
</a>
<div class="d-flex align-items-center">
  <ng-container *ngIf="asideSelfDisplay">
    <button class="btn p-0 burger-icon ml-4" id="kt_aside_mobile_toggle">
      <span></span>
    </button>
  </ng-container>

  <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
    <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon svg-icon-xl"></span>
  </button>
</div>
