<div class="card card-custom gutter-b">
  <div class="card-header-custom">
    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="card-title">
        <div class="d-flex align-items-center">
          <h3 class="card-label">Kho mã học sinh</h3>
          <button type="button" class="btn btn-outline-secondary ml-2" *ngIf="objectDataTable.datas.length > 0" (click)="exportExcel()">
            <i class="ki ki-long-arrow-down"></i>Tải về
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of objectDataTable.datas; let i = index">
            <td class="text-center">{{ (dataPaging.page - 1) * dataPaging.pageSize + i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.key == 'createdDate' || header.key == 'activeDate' || header.key == 'timeExpired'">
                {{ data[header.key] ? (data[header.key] * 1000 | date : this.sharedService.getDateFormat('STUDENT_AGE')) : 'N/A' }}
              </ng-container>
              <ng-container *ngIf="header.key == 'status'">
                {{ status[data[header.key]].name }}
              </ng-container>
              <ng-container *ngIf="header.key == 'centerTypeId'">
                {{ data[header.key] ? accountTypes[data[header.key] - 1].name : 'Dữ liệu kho' }}
              </ng-container>
              <ng-container
                *ngIf="
                  header.key != 'createdDate' &&
                  header.key != 'activeDate' &&
                  header.key != 'status' &&
                  header.key != 'timeExpired' &&
                  header.key != 'centerTypeId'
                "
              >
                {{ data[header.key] }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="objectDataTable.datas?.length" [height]="100" text="Không có dữ liệu."></app-empty-table>
    </div>
    <!-- end: Table -->
    <div class="mx-5 d-flex justify-content-end">
      <app-paging [data]="dataPaging" (dataChanged)="dataChanged($event)"></app-paging>
    </div>
  </div>
</div>
