<div class="card card-custom gutter-b">
  <div class="card-header-custom" *ngIf="checkGuard">
    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="card-title mb-0">
        <h3 class="card-label">Danh sách giáo viên</h3>
      </div>
      <div style="flex: 1">
        <button type="button" class="btn btn-outline-secondary ml-5 mx-2" routerLink="add"><i class="ki ki-plus"></i> Thêm giáo viên</button>
        <button type="button" class="btn btn-outline-secondary mr-2" (click)="fileInput.click()">
          <span> Tải lên danh sách</span>
          <input #fileInput type="file" (change)="upload($event)" style="display: none" />
        </button>
        <button type="button" class="btn btn-outline-secondary btn mr-2" (click)="exportExcel()"><i class="ki ki-long-arrow-down"></i>Tải về</button>
        <a href="assets/DanhSachGiaoVien.xlsx"> Tải xuống file mẫu </a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-8">
        <div class="row">
          <ng-container [ngTemplateOutlet]="filterTeacher"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header" *ngIf="!checkGuard">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="card-label mr-10">Danh sách giáo viên</h3>
      <button type="button" class="btn btn-outline-secondary btn mr-2" (click)="exportExcel()"><i class="ki ki-long-arrow-down"></i>Tải về</button>
    </div>
    <div class="card-toolbar">
      <div class="form-group row mb-0">
        <ng-container [ngTemplateOutlet]="filterTeacher"></ng-container>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
            <th>
              <span *ngIf="checkGuard">Hành động</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of objectDataTable.datas; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.key != 'status' && header.key != 'gender' && header.key != 'dateStart'">
                {{ obj[header.key] }}
              </ng-container>
              <ng-container *ngIf="header.key == 'gender'">
                {{ obj[header.key] == 1 ? 'Nam' : 'Nữ' }}
              </ng-container>
              <ng-container *ngIf="header.key == 'dateStart'">
                {{ obj[header.key] | date : 'dd-MM-yyyy' }}
              </ng-container>

              <ng-container *ngIf="header.key == 'status'">
                <span class="badge" [ngClass]="obj[header.key] == 1 ? 'badge-success' : 'badge-light'">{{
                  obj[header.key] == 1 ? 'Đang hoạt động' : 'Tạm ngưng'
                }}</span>
              </ng-container>
            </td>
            <td>
              <a title="Chỉnh sửa thông tin hoc sinh" href="javascript:;" [routerLink]="'edit/' + obj.id" *ngIf="checkGuard">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa
              </a>
              <a href="javascript:;" class="ml-3" (click)="resetPassword(obj.id)" *ngIf="checkGuard"> Đặt lại mật khẩu </a>
              <!-- <a title="Xoá" href="javascript:;" class="text-danger ml-2" (click)="remove(obj.id)" *ngIf="checkGuard">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger svg-icon-2x"
                >
                </span
                >Xóa
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="objectDataTable.datas?.length" [height]="100" text="Không có giáo viên."></app-empty-table>
    </div>
    <!-- end: Table -->
  </div>
</div>
<ng-template #filterTeacher>
  <div class="col-md-6 col-sm-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Trạng thái</span>
      </div>
      <select class="form-control" name="gradeId" [(ngModel)]="filter.status" (change)="changeFilter($event)">
        <option [value]="0">Tất cả</option>
        <option [value]="s.key" *ngFor="let s of status">
          {{ s.value }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="input-icon-custom">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm giáo viên theo tên, số điện thoại hoặc email"
        (change)="changeFilter($event)"
        name="searchTerm"
        [(ngModel)]="filter.searchTerm"
      />
      <span><i class="flaticon2-search-1 icon-md"></i></span>
    </div>
  </div>
</ng-template>
<common-modal #confirmationModal (newConfirmationEvent)="getConfirmationValue($event)"> </common-modal>
