<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container>
          {{ id ? 'Chỉnh sửa' : 'Thêm mới' }}
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light" routerLink="/programs"><i class="fa fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
  <div class="card-body mb-5">
    <div class="mt-5" *ngIf="formGroup">
      <form action="#" class="form form-label-right" (ngSubmit)="save()" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Level <span class="text-danger">*</span></label>
            <select
              class="form-control"
              name="gradeId"
              [class.is-invalid]="isControlInvalid('gradeId')"
              [class.is-valid]="isControlValid('gradeId')"
              formControlName="gradeId"
            >
              <option value="">Chọn level</option>
              <option *ngFor="let g of grades" [value]="g.id">
                {{ g.name }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'gradeId')">Vui lòng chọn level</div>
          </div>
          <div class="col-lg-3">
            <label>Chương trình (Số tiết)<span class="text-danger">*</span></label>
            <select
              class="form-control"
              name="lessonPerWeek"
              [class.is-invalid]="isControlInvalid('lessonPerWeek')"
              [class.is-valid]="isControlValid('lessonPerWeek')"
              formControlName="lessonPerWeek"
            >
              <option value="">Chọn chương trình</option>
              <option *ngFor="let l of lessonPerWeeks" [value]="l.key">
                {{ l.value }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'lessonPerWeek')">Vui lòng chọn chương trình</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Tên chương trình <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              name="name"
              [class.is-invalid]="isControlInvalid('name')"
              [class.is-valid]="isControlValid('name')"
              formControlName="name"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">Vui lòng nhập tên chương trình</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <label>Nội dung bài học</label>
            <div class="content-lesson">
              <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist" *ngIf="contentLessons.length > 0">
                <li class="nav-item" *ngFor="let ct of contentLessons">
                  <a (click)="setActiveTab(ct.index)" class="nav-link cursor-pointer" [ngClass]="getActiveTabCSSClass(ct.index)" role="tab">
                    {{ ct.title }}
                  </a>
                </li>
              </ul>
              <div class="tab-content mt-3" *ngIf="contentLessons.length > 0" [formGroup]="descriptionForm">
                <div class="tab-pane col-xl-6 p-0" [ngClass]="getActiveTabCSSClass(ct.index)" *ngFor="let ct of contentLessons; let i = index">
                  <ckeditor [editor]="Editor" [formControlName]="ct.key"></ckeditor>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="float-right">
          <a class="btn btn-default font-weight-bold mr-2" routerLink="/programs">Hủy bỏ</a>
          <button
            type="submit"
            class="btn btn-primary font-weight-bold mr-2 spinner-white spinner-right"
            [disabled]="formGroup?.invalid || isSubmitted"
            [ngClass]="{ spinner: isSubmitted }"
          >
            Lưu lại
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
