<form class="form" id="kt_form">
  <div class="card card-custom">
    <div class="card-header card-header-tabs-line">
      <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist">
        <li class="nav-item" *ngFor="let s of content.sections; let sectionIndex = index">
          <a (click)="setActiveTab(sectionIndex + 1)" class="nav-link cursor-pointer" [ngClass]="getActiveTabCSSClass(sectionIndex + 1)" role="tab">
            {{ s.name }}
          </a>
        </li>
        <li class="nav-item mt-3" *ngIf="content.sections.length == 0">
          Chưa có danh sách phần học cho cấu trúc này hoặc bạn chưa chọn cấu trúc cho bài học này.
        </li>
      </ul>
    </div>
    <div class="card-body pb-3 pt-3">
      <div class="tab-content">
        <div class="tab-pane" *ngFor="let s of content.sections; let sectionIndex = index" [ngClass]="getActiveTabCSSClass(sectionIndex+1)">
          <ng-container [ngTemplateOutlet]="secTemplate" [ngTemplateOutletContext]="{ s: s, sectionIndex: sectionIndex }"></ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #documentListModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.AUDIO">Danh sách Audio</h4>
    <h4 *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.IMAGE">Danh sách Ảnh</h4>
    <h4 *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.VIDEO">Danh sách Video</h4>
    <h4 *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME">Danh sách Games</h4>
    <button type="button" class="close p-3" (click)="c('Close click')" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="row mb-3">
      <div class="col-lg-4 mb-3" *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Loại game</span>
          </div>
          <select name="sl-gameType" class="form-control" [(ngModel)]="filter.typeId" (ngModelChange)="filterChanged($DOCUMENT_FILE_TYPE.GAME)">
            <option value="0">Tất cả</option>
            <option *ngFor="let type of gameTypes" [value]="type.id">{{type.typeName}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-icon-custom">
          <input
            class="form-control"
            name="searchText"
            type="search"
            [(ngModel)]="filter.searchTerm"
            [placeholder]="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME ?'Tìm kiếm game':'Tìm kiếm học liệu'"
            (change)="filterChanged(currentDocAct.document.documentTypeId)"
          />
          <span><i class="flaticon2-search-1 icon-md"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-3" *ngFor="let document of documentList; let documentIndex = index">
        <div class="card w-100">
          <ng-container *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.VIDEO">
            <app-video-hls [url]="document.fileContent" [controls]="true"></app-video-hls>
          </ng-container>
          <ng-container *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.IMAGE">
            <img class="card-img-top" style="height: 200px" [src]="document.fileContent" loading="lazy" />
          </ng-container>
          <ng-container *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.AUDIO">
            <audio
              class="card-img-top mt-2 w-100"
              controls
              [src]="document.fileContent"
              [autoplay]="false"
              [title]="document.name"
              #transcriptAudio
              id="transcriptAudio"
            ></audio>
          </ng-container>
          <ng-container *ngIf="currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME">
            <img style="height: 200px" [src]="document.gameImage" />
          </ng-container>
          <div class="card-body text-center">
            <h5>{{ currentDocAct.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME ? document.gameName :document.name }}</h5>
            <button class="btn btn-success" type="button" (click)="chooseDocuments(document)" color="light">Chọn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Đóng</button>
  </div>
</ng-template>

<ng-template #secTemplate let-s="s" let-sectionIndex="sectionIndex">
  <div
    class="content-activities mt-3"
    style="border: 1px solid #e5e5e5; background-color: #f5f5f5; padding: 15px; border-radius: 3px"
    *ngFor="let activity of s.activities;let activityIndex=index"
  >
    <div class="d-flex align-content-start">
      <div class="mt-2 mr-8">
        <div>
          <h4 class="mb-3">Hoạt động {{activityIndex+1}}</h4>
        </div>
      </div>
      <div class="mt-0">
        <ul class="nav nav-pills card-header-pills mr-3 mt-0" role="tablist">
          <li class="nav-item">
            <a
              (click)="setActiveActivityTab(sectionIndex, activityIndex, 0)"
              class="nav-link cursor-pointer"
              [ngClass]="getActiveActivityTabCSSClass(sectionIndex, activityIndex, 0)"
            >
              Giáo án tiếng Việt
            </a>
          </li>
          <li class="nav-item mr-3 mb-1">
            <a
              (click)="setActiveActivityTab(sectionIndex, activityIndex, 1)"
              class="nav-link cursor-pointer"
              [ngClass]="getActiveActivityTabCSSClass(sectionIndex, activityIndex, 1)"
            >
              Giáo án tiếng Anh
            </a>
          </li>
        </ul>
      </div>
      <div style="flex: 1" class="d-flex justify-content-end">
        <a href="javascript:;" *ngIf="activityIndex > 0" (click)="removeActivity(s.id,activity.id, activityIndex)">
          <i class="ki ki-bold-close icon-lg text-danger"></i>
        </a>
      </div>
    </div>

    <div class="card-body tab-content p-0">
      <div class="tab-pane" [ngClass]="getActiveActivityTabCSSClass(sectionIndex, activityIndex, 0)">
        <ng-container [ngTemplateOutlet]="actTemplate" [ngTemplateOutletContext]="{ activity: activity, language: this.vi }"></ng-container>
      </div>
      <div class="tab-pane" [ngClass]="getActiveActivityTabCSSClass(sectionIndex, activityIndex, 1)">
        <ng-container [ngTemplateOutlet]="actTemplate" [ngTemplateOutletContext]="{ activity: activity, language: this.en }"></ng-container>
      </div>
    </div>
  </div>
  <button type="button" (click)="addActivity(s, sectionIndex)" class="btn btn-outline-secondary mt-5">
    <i class="ki ki-plus"></i> Thêm hoạt động
  </button>
</ng-template>

<ng-template #actTemplate let-activity="activity" let-language="language">
  <div class="row">
    <div class="col-xl-5">
      <div class="form-group">
        <label *ngIf="language == this.vi">Tên hoạt động</label>
        <label *ngIf="language == this.en">Tên hoạt động (tiếng Anh)</label>
        <input *ngIf="language == this.vi" type="text" class="form-control" name="activityName" [(ngModel)]="activity.name" />
        <input *ngIf="language == this.en" type="text" class="form-control" name="activityNameEn" [(ngModel)]="activity.nameEn" />
      </div>
    </div>
    <div class="col-xl-3">
      <div class="form-group">
        <label>Thời gian (phút)</label>
        <input
          type="number"
          class="form-control"
          name="timeActivity"
          (change)="checkTimeActivity($event,activity)"
          [(ngModel)]="activity.timeActivity"
        />
      </div>
    </div>
    <div class="col-xl-4">
      <div class="form-group">
        <label *ngIf="language == this.vi">Hình thức tương tác</label>
        <label *ngIf="language == this.en">Hình thức tương tác (tiếng Anh)</label>
        <input *ngIf="language == this.vi" type="text" class="form-control" name="interactiveForm" [(ngModel)]="activity.interactiveForm" />
        <input *ngIf="language == this.en" type="text" class="form-control" name="interactiveFormEn" [(ngModel)]="activity.interactiveFormEn" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="form-group">
        <label *ngIf="language == this.vi">Giáo cụ và tài liệu</label>
        <label *ngIf="language == this.en">Giáo cụ và tài liệu (tiếng Anh)</label>
        <textarea
          *ngIf="language == this.vi"
          type="text"
          class="form-control"
          style="min-height: 120px"
          name="documentTeaching"
          [(ngModel)]="activity.documentTeaching"
        ></textarea>
        <textarea
          *ngIf="language == this.en"
          type="text"
          class="form-control"
          style="min-height: 120px"
          name="documentTeachingEn"
          [(ngModel)]="activity.documentTeachingEn"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label *ngIf="language == this.vi">Hoạt động của giáo viên</label>
    <label *ngIf="language == this.en">Hoạt động của giáo viên (tiếng Anh)</label>
    <textarea
      *ngIf="language == this.vi"
      name="teacherActivity"
      class="form-control"
      style="min-height: 150px"
      [(ngModel)]="activity.teacherActivity"
    ></textarea>
    <textarea
      *ngIf="language == this.en"
      name="teacherActivityEn"
      class="form-control"
      style="min-height: 150px"
      [(ngModel)]="activity.teacherActivityEn"
    ></textarea>
  </div>
  <label>Danh sách học liệu</label>
  <div cdkDropList class="section-page-content mb-3" (cdkDropListDropped)="drop(activity,$event)">
    <div class="page-box p-3" *ngFor="let da of activity.documentActivities; let documentIndex=index" cdkDrag>
      <ng-container
        [ngTemplateOutlet]="docTemplate"
        [ngTemplateOutletContext]="{ da: da ,documentIndex:documentIndex,das:activity.documentActivities}"
      ></ng-container>
    </div>
  </div>
  <a href="javascript:;" (click)="addNewPage(activity)">+ Thêm trang</a>
</ng-template>

<ng-template #docTemplate let-da="da" let-documentIndex="documentIndex" let-das="das">
  <div class="col-xl-12">
    <form class="form-inline">
      <div class="form-group" style="flex: 1">
        <label for="inputPassword6" class="mr-5">Trang {{documentIndex+1}} </label>
        <select
          class="form-control"
          name="docTypeName"
          [(ngModel)]="da.document.documentTypeId"
          (ngModelChange)="changeDocumentType(da)"
          style="width: 100px"
        >
          <option *ngFor="let type of actDocumentTypes" [value]="type.id">{{type.name}}</option>
        </select>
        <input
          type="text"
          *ngIf="da.document.documentTypeId == 1"
          [(ngModel)]="da.document.gameName"
          disabled
          name="docName"
          class="form-control ml-2"
        />
        <input type="text" *ngIf="da.document.documentTypeId != 1" [(ngModel)]="da.document.name" disabled name="docName" class="form-control ml-2" />
        <button type="button" (click)="openDocumentList(documentListModal, da, da.document.documentTypeId)" class="btn btn-outline-secondary ml-2">
          <span>Chọn học liệu</span>
        </button>
        <div class="ml-2">
          <button
            type="button"
            (click)="openInputDoc(da)"
            class="btn btn-outline-secondary"
            [disabled]="da.document.documentTypeId == $DOCUMENT_FILE_TYPE.GAME"
          >
            <span>Tải lên học liệu</span>
          </button>
          <app-input-document [documentUsageType]="documentUsageType" (setInput)="setInput($event)"></app-input-document>
        </div>
        <div class="ml-2 d-flex align-items-center" style="flex: 1">
          <span *ngIf="da.document.uploadedPercentage||da.document.uploadedPercentage==100">
            {{da.document.uploadedPercentage!=100?(da.document.uploadedPercentage+"%"):''}}</span
          >
          <a
            class="ml-3"
            *ngIf="da.document.fileContent"
            [ngClass]="getActiveCssClassForLink(da.document.fileContent)"
            style="font-size: 14px; text-decoration: none"
            (click)="openPreviewDocumentModal(da.document)"
            href="javascript:;"
          >
            Xem thử
          </a>
        </div>
        <div class="ml-2 d-flex align-items-center">
          <a title="Xoá" href="javascript:;" class="text-danger" (click)="removePage(das, documentIndex);">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" class="svg-icon svg-icon-md svg-icon-danger svg-icon-2x"> </span>Xóa
          </a>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<common-modal #confirmationModal (newConfirmationEvent)="getConfirmationValue($event)"> </common-modal>

<app-modal-document [isOpen]="isOpen" [documentView]="documentView" (close)="closeModal()"></app-modal-document>
