<div>
  <div class="mt-3" *ngFor="let c of configs; let i=index">
    <div class="label-game-config d-flex">
      <h6>Màn chơi {{i+1}}</h6>
    </div>
    <div class="container section-game">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Số lượng ảnh/hàng</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex btn-group-custom">
              <button
                type="button"
                class="btn btn-custom-default ml-2"
                [ngClass]="{'btn-active': p.value==c.DataItemTop.length}"
                *ngFor="let p of panes"
                (click)="setCount(i,p.value)"
              >
                {{p.name}}
              </button>
            </div>
          </div>
          <a href="javascript:;" title="Xóa màn chơi" (click)="removeSection(i)">
            <i class="ki ki-bold-close icon-lg text-danger"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Hàng 1</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex box-group-custom">
              <div *ngFor="let d of c.DataItemTop" [style.width]="'calc(100%/5)'">
                <div>
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center">
                      <label>Ảnh</label>
                    </div>
                    <div class="col-lg-9">
                      <div class="p-2">
                        <app-input-img
                          (setValueToChild)="setSrc($event, d)"
                          [currentUrl]="d.LinkImg"
                          type="game"
                          [folder]="FOLDER_STORE_RESOURCE_GAME.matching"
                        ></app-input-img>
                      </div>
                    </div>
                  </div>
                  <div class="py-2">
                    <label class="m-0">Audio: </label>
                    <a class="ml-3" (click)="uploadRecourse(d, 'audio')" href="javascript:;"
                      >Upload{{(d.progress && (d.progress < 100))?'('+d.progress+'%)':''}}</a
                    >
                    <a *ngIf="d.LinkAudio" target="_blank" [href]="d.LinkAudio" class="ml-3" style="font-size: 14px; text-decoration: underline"
                      >Nghe thử</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <p>Hàng 2</p>
        </div>
        <div class="col-md-10 col-sm-12 d-flex" style="border-left: 1px solid #ffff; padding-left: 50px">
          <div class="flex-grow-1">
            <div class="form-group d-flex box-group-custom">
              <div *ngFor="let d of c.DataItemBottom" [style.width]="'calc(100%/5)'">
                <div>
                  <div class="row">
                    <div class="col-lg-3 d-flex align-items-center">
                      <label>Ảnh</label>
                    </div>
                    <div class="col-lg-9">
                      <div class="p-2">
                        <app-input-img
                          (setValueToChild)="setSrc($event, d)"
                          [currentUrl]="d.LinkImg"
                          type="game"
                          [folder]="FOLDER_STORE_RESOURCE_GAME.matching"
                        ></app-input-img>
                      </div>
                    </div>
                  </div>
                  <div class="py-2">
                    <label class="m-0">Audio: </label>
                    <a class="ml-3" (click)="uploadRecourse(d, 'audio')" href="javascript:;">Upload</a>
                    <a *ngIf="d.LinkAudio" target="_blank" [href]="d.LinkAudio" class="ml-3" style="font-size: 14px; text-decoration: underline"
                      >Nghe thử</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
