<form action="#" class="form form-label-right" *ngIf="formGroup" [formGroup]="formGroup">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Kiểu bài học<span class="text-danger">*</span></label>
            <select
              class="form-control"
              name="type"
              [class.is-invalid]="isControlInvalid('type')"
              [class.is-valid]="isControlValid('type')"
              formControlName="type"
              (change)="typeChanged($event)"
            >
              <option *ngFor="let g of typeLesson" [value]="g.key">{{ g.value }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Level <span class="text-danger">*</span></label>
        <select
          class="form-control"
          name="gradeId"
          [class.is-invalid]="isControlInvalid('gradeId')"
          [class.is-valid]="isControlValid('gradeId')"
          formControlName="gradeId"
          (change)="gradeChanged($event)"
        >
          <option value="">Chọn level</option>
          <option *ngFor="let g of grades" [value]="g.id">{{ g.name }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'gradeId')">Vui lòng chọn level</div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        <label>Chủ đề <span class="text-danger">*</span></label>
        <select
          class="form-control"
          name="topicId"
          [class.is-invalid]="isControlInvalid('topicId')"
          [class.is-valid]="isControlValid('topicId')"
          formControlName="topicId"
        >
          <option value="" *ngIf="!information.topicId">Chọn chủ đề</option>
          <option *ngFor="let t of topics" [value]="t.id">{{ t.name }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'topicId')">Vui lòng chọn chủ đề</div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        <label>Chương trình <span class="text-danger">*</span></label>
        <ng-multiselect-dropdown
          [settings]="programSettings"
          placeholder="Chọn chương trình"
          [data]="lessonPerWeek"
          [formControl]="formGroup.controls['programList']"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        <label>Cấu trúc phần học <span class="text-danger">*</span></label>
        <select
          class="form-control"
          name="structureId"
          [class.is-invalid]="isControlInvalid('structureId')"
          [class.is-valid]="isControlValid('structureId')"
          (change)="onStructureChanged($event)"
          formControlName="structureId"
        >
          <option value="" *ngIf="!information.structureId">Chọn cấu trúc bài học</option>
          <option *ngFor="let st of structures" [value]="st.id">{{ st.name }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'structureId')">Vui lòng chọn cấu trúc</div>
        <i> <span class="form-text text-muted">{{sectionList}}</span></i>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        <label>Tên bài học <span class="text-danger">*</span></label>
        <input
          class="form-control"
          name="name"
          [class.is-invalid]="isControlInvalid('name')"
          [class.is-valid]="isControlValid('name')"
          formControlName="name"
        />
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">Vui lòng nhập tên bài học</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Thứ tự <span class="text-danger">*</span></label>
        <input
          class="form-control"
          name="sortId"
          [class.is-invalid]="isControlInvalid('sortId')"
          [class.is-valid]="isControlValid('sortId')"
          formControlName="sortId"
        />
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'sortId')">Vui lòng nhập thứ tự bài học</div>
        <i> <span class="form-text text-muted">Thứ tự hiển thị trên hệ thống(VD: Nhập số 3 nếu bài hiện tại là Lesson 3)</span></i>
      </div>
    </div>
  </div>
  <div>
    <h6>Mục tiêu bài học</h6>
    <div class="row">
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{vietnamese}}</label>
          <ckeditor [editor]="Editor" name="target" formControlName="target"></ckeditor>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{english}}</label>
          <ckeditor [editor]="Editor" name="targetEn" formControlName="targetEn"></ckeditor>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h6>Ngôn ngữ mục tiêu</h6>
    <div class="row">
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{vietnamese}}</label>
          <ckeditor [editor]="Editor" name="targetLanguage" formControlName="targetLanguage"></ckeditor>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{english}}</label>
          <ckeditor [editor]="Editor" name="targetLanguageEn" formControlName="targetLanguageEn"></ckeditor>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h6>Ngôn ngữ mở rộng</h6>
    <div class="row">
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{vietnamese}}</label>
          <ckeditor [editor]="Editor" name="languageExtend" formControlName="languageExtend"></ckeditor>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{english}}</label>
          <ckeditor [editor]="Editor" name="languageExtendEn" formControlName="languageExtendEn"></ckeditor>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h6>Học liệu</h6>
    <div class="row">
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{vietnamese}}</label>
          <ckeditor [editor]="Editor" formControlName="docTool" name="docTool"></ckeditor>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group">
          <label>{{english}}</label>
          <ckeditor [editor]="Editor" formControlName="docToolEn" name="docToolEn"></ckeditor>
        </div>
      </div>
    </div>
  </div>
</form>
