<div class="card card-custom gutter-b">
  <div class="card-body mt-3">
    <div class="flex-column">
      <div class="d-flex justify-content-between" [style.width]="'100%'">
        <h4 class="font-size-h4 font-weight-bolder">Gửi ý kiến đóng góp</h4>
      </div>
      <div>
        <p>
          Nếu bạn gặp vấn đề với hệ thống LMS của KIDSEnglish hoặc muốn chia sẻ trải nghiệm của bạn cho chúng tôi biết, bạn có thể gửi đóng góp ý kiến
          cho chúng tôi.
        </p>
      </div>
    </div>
    <div class="py-0">
      <div class="wraper">
        <div class="card gutter-b">
          <div class="card-body px-5 py-4 bg-light">
            <h6>Chủ đề cần góp ý</h6>
            <form class="form" (ngSubmit)="sendFeedBack($event)">
              <div class="form-group row mb-2">
                <div class="col-12 col-form-label">
                  <div class="radio-list">
                    <label class="radio" *ngFor="let is of categories">
                      <input type="radio" name="category" [value]="is" [(ngModel)]="feedBack.category" />
                      <span></span>
                      {{ is }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-2">
                <div class="col-12 col-form-label">
                  <textarea
                    class="form-control"
                    placeholder="Nội dung góp ý"
                    name="content"
                    [(ngModel)]="feedBack.content"
                    required
                    id="exampleTextarea"
                    rows="5"
                  ></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-success font-weight-bolder">Gửi đi</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
