.wrapword {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.background-image-game {
  border:1px solid #b1b7c1;
  background-color: #ffff;
  height: 100px;
  width: 150px;
}
.classify2-game {
  background: #FAFAFA; 
  // padding-top: 10px;
  // padding-bottom: 10px;
  width: 9;
  // border-radius: 5px;
  // margin-left: 5px;
  // margin-right: 5px;
}

.classify2-game-scene-wrapper {
  background-color: #FAFAFA;
}

// card active color
.nav-link.active {
  background-color: #F2CE5F !important;
  color: #2C384A !important;
}

// card inactive color
.nav-link {
  color: #2C384A !important;
  background-color: #FFFFFF;
  border-style: solid !important;
  border: 1px;
  border-color: #B1B7C1;
  height: 34px;
}

// card margin
.nav-item {
  margin-right: 0.75rem !important;
  margin-bottom: 0.25rem;
}

.card-body {
  padding: 0 !important;
}