<div class="card card-custom mt-2 gutter-b">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex align-items-center">
        <h3 class="card-label">Danh sách khách hàng</h3>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cu of objectDataTable.datas; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.key != 'createdDate'">
                {{ cu[header.key] }}
              </ng-container>
              <ng-container *ngIf="header.key == 'createdDate'">
                {{ cu[header.key] * 1000 | date: this.sharedService.getDateFormat() }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="objectDataTable.datas.length" [height]="100" text="Không có dữ liệu."></app-empty-table>
    </div>
  </div>
</div>
