<app-loading [isLoading]="isLoading"></app-loading>
<div class="card card-custom gutter-b">
  <div class="card-header-custom">
    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="card-title">
        <div class="d-flex align-items-center">
          <h3 class="card-label">Danh sách học sinh</h3>
          <button type="button" class="btn btn-outline-secondary ml-2" *ngIf="objectDataTable.datas.length > 0" (click)="exportExcel()">
            <i class="ki ki-long-arrow-down"></i>Tải về
          </button>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-12">
        <div class="row">
          <ng-container [ngTemplateOutlet]="filterStudent"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of objectDataTable.headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of objectDataTable.datas; let i = index">
            <td class="text-center">{{ (dataPaging.page - 1) * dataPaging.pageSize + i + 1 }}</td>
            <td *ngFor="let header of objectDataTable.headers">
              <ng-container *ngIf="header.key == 'dob'">
                {{ data[header.key] ? (data[header.key] | date : this.sharedService.getDateFormat()) : 'N/A' }}
              </ng-container>
              <ng-container *ngIf="header.key == 'gender'">
                {{ status[data[header.key]] ? 'Nam' : 'Nữ' }}
              </ng-container>

              <ng-container *ngIf="header.key != 'dob' && header.key != 'gender'">
                {{ data[header.key] }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="objectDataTable.datas?.length" [height]="100" text="Không có dữ liệu."></app-empty-table>
    </div>
    <!-- end: Table -->
    <div class="mx-5 d-flex justify-content-end">
      <app-paging [data]="dataPaging" (dataChanged)="dataChanged($event)"></app-paging>
    </div>
  </div>
</div>
<ng-template #filterStudent>
  <div class="col-md-3 col-sm-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Trường học</span>
      </div>
      <ng-select
        [items]="schools"
        bindLabel="name"
        bindValue="id"
        placeholder="Tìm kiếm trường học"
        [(ngModel)]="filter.schoolId"
        (ngModelChange)="changeFilter('SCHOOL')"
        class="custom-select2"
      >
      </ng-select>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Lớp học</span>
      </div>
      <ng-select
        [items]="classes"
        bindLabel="className"
        bindValue="id"
        [disabled]="classes.length == 0"
        placeholder="Tìm kiếm lớp học"
        [(ngModel)]="filter.classId"
        (ngModelChange)="changeFilter('CLASS')"
        class="custom-select2"
      >
      </ng-select>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Năm học</span>
      </div>
      <select class="form-control" name="yearId" [(ngModel)]="filter.yearId" (ngModelChange)="changeFilter('YEAR')">
        <option [value]="0">Tất cả</option>
        <option [value]="year.id" *ngFor="let year of years">
          {{ year.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-2 col-sm-12">
    <div class="input-icon-custom">
      <input type="text" class="form-control" placeholder="Tìm kiếm học sinh" name="searchTerm" [(ngModel)]="filter.searchTerm" />
      <span><i class="flaticon2-search-1 icon-md"></i></span>
    </div>
  </div>
</ng-template>
