<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách thông báo</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-outline-secondary" (click)="goToNotificationEditPage()"><i class="ki ki-plus"></i> Thêm Thông báo</button>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th style="width: 5%">Stt</th>
          <th style="width: 10%">Tiêu đề</th>
          <th>Nội dung</th>
          <th style="width: 15%">Ngày tạo</th>
          <th>Hành động</th>
        </thead>
        <tbody>
          <tr *ngFor="let noti of notifications; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ noti.title }}</td>
            <td><span [innerHTML]="noti.content"></span></td>
            <td>
              {{ noti.createdDate ? (noti.createdDate * 1000 | date: this.sharedService.getDateFormat()) : '' }}
            </td>
            <td>
              <a title="Chỉnh sửa thông báo" [routerLink]="'organization-edit/' + noti.id">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Media/DVD.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-warning svg-icon-2x"
                >
                </span>
                Xem chi tiết
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="notifications?.length" [height]="100" text="Không có thông báo."></app-empty-table>
    </div>
  </div>
</div>
