#chart {
  max-width: 650px;
  margin: 35px auto;
}
.chart-bar {
  width: 80%;
  height: 13px;
  background: #009ef7;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 4px;
}
.statistical-province {
  overflow: scroll;
}
.statistical-program {
  overflow: scroll;
}
.statistical-chart {
  overflow: scroll;
}
