<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex align-items-center">
        <h3 class="card-label">Danh sách chủ đề</h3>
        <button type="button" class="btn btn-outline-secondary" routerLink="add"><i class="ki ki-plus"></i> Thêm chủ đề</button>
      </div>
    </div>
    <div class="form-group row mb-0">
      <div class="col-lg-6 mt-2">
        <div class="input-group" style="width: 250px">
          <div class="input-group-prepend">
            <span class="input-group-text">Level</span>
          </div>
          <select sizing="sm" class="form-control" name="gradeId" (change)="changeFilter()" [(ngModel)]="filter.gradeId">
            <option [value]="0">Tất cả</option>
            <option *ngFor="let grade of grades" [value]="grade.id">
              {{ grade.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-6 mt-2">
        <div class="input-icon-custom" style="width: 250px">
          <input
            aria-describedby="topic-search"
            class="form-control"
            placeholder="Tìm kiếm chủ đề"
            [(ngModel)]="filter.searchTerm"
            (change)="changeFilter()"
            name="searchTerm"
            type="search"
          />
          <span><i class="flaticon2-search-1 icon-md"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <tr>
            <th style="width: 5%">Stt</th>
            <th *ngFor="let header of headers; let i = index" [ngStyle]="{ width: header.width }">
              {{ header.value }}
            </th>
            <th style="width: 15%">Phiếu đánh giá định kỳ</th>
            <th style="width: 15%">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topics; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              {{ topic.grade.name }}
            </td>
            <td>
              {{ topic.name }}
            </td>
            <td>
              {{ topic.createdDate ? (topic.createdDate * 1000 | date: 'dd/MM/yyyy HH:mm') : '' }}
            </td>
            <td>
              <a title="Sửa phiếu đánh giá" [routerLink]="'evaluationForm/edit/' + topic.id">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Sửa phiếu đánh giá
              </a>
            </td>
            <td>
              <a title="Chỉnh sửa thông tin" [routerLink]="'edit/' + topic.id">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                Chỉnh sửa thông tin
              </a>
              <!-- <a
                title="Delete topic"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(topic.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
      <app-empty-table [length]="topics.length" [height]="100" text="Không có chủ đề."></app-empty-table>
    </div>
  </div>
</div>
