<div>
  <div *ngFor="let c of configs; let configIndex=index">
    <div class="d-flex align-items-center pt-3">
      <h6 class="flex-grow-1 mb-3">Màn chơi {{configIndex+1}}</h6>
      <!-- <a href="javascript:;">
        <i class="ki ki-bold-close icon-lg text-danger"></i>
      </a> -->
    </div>

    <div class="border rounded" style="background-color: #fafafa">
      <!-- scene info row start -->
      <div class="d-flex border-bottom">
        <div class="col-xl-2 col-md-3 col-sm-4 border-right">
          <div class="pt-5">Ảnh đề bài</div>
          <div class="pt-2 pb-3">
            <app-input-img
              (setValueToChild)="setImageSource(configIndex, $event)"
              [currentUrl]="c.LinkImgDemo"
              type="game"
              [folder]="this.puzzle02Folder"
            ></app-input-img>
          </div>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 border-right">
          <div class="pt-5">Audio</div>
          <div class="pt-2">
            <button class="btn btn-secondary" type="button" (click)="uploadResource(configIndex, 'audio')">Upload</button>
          </div>
          <div class="pt-2">
            <a *ngIf="c.LinkAudio" target="_blank" [href]="c.LinkAudio" style="font-size: 14px; text-decoration: underline">Nghe thử</a>
          </div>
        </div>
        <div class="col-xl-8 col-md-6 col-sm-4 d-flex">
          <div class="d-flex flex-grow-1">
            <div class="pt-5">Số lượng miếng ghép</div>
            <div class="pt-1 pl-3">
              <ul class="nav nav-pills card-header-pills ml-0" role="tablist">
                <li class="nav-item mr-3 mb-1" *ngFor="let p of puzzlePanes;">
                  <a
                    (click)="setPuzzleMatrix(configIndex, p)"
                    [ngClass]="getActiveTabCSSClass(configIndex, p.value)"
                    class="nav-link cursor-pointer mt-2"
                  >
                    {{p.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pt-2">
            <a href="javascript:;" *ngIf="configs.length > 1" title="Xóa màn chơi" (click)="removeGameScene(configIndex)">
              <i class="ki ki-bold-close icon-lg text-danger"></i>
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="col">
          <div class="pt-5">Ảnh miếng ghép (upload theo đúng vị trí chính xác của từng mảnh ghép)</div>
        </div>
        <div class="pt-2">
          <div class="d-flex" *ngFor="let row of [].constructor(this.configExtraDatas[configIndex].Row); let rowIndex = index;">
            <ng-container *ngIf="(rowIndex + 1) % 2 != 0">
              <div class="col-xl-1 col-3 pb-7" *ngFor="let col of [].constructor(this.configExtraDatas[configIndex].Col); let colIndex = index;">
                <app-input-img
                  (setValueToChild)="setPuzzleImageSource(configIndex, rowIndex + 1, this.configExtraDatas[configIndex].Col - colIndex, $event)"
                  [currentUrl]="this.getImageUrl(configIndex, rowIndex + 1, this.configExtraDatas[configIndex].Col - colIndex)"
                  type="game"
                  [folder]="this.puzzle02Folder"
                ></app-input-img>
              </div>
            </ng-container>
            <ng-container *ngIf="(rowIndex + 1) % 2 == 0">
              <div class="col-xl-1 col-3 pb-7" *ngFor="let col of [].constructor(this.configExtraDatas[configIndex].Col); let colIndex = index;">
                <app-input-img
                  (setValueToChild)="setPuzzleImageSource(configIndex, rowIndex + 1, colIndex + 1, $event)"
                  [currentUrl]="this.getImageUrl(configIndex, rowIndex + 1, colIndex + 1)"
                  type="game"
                  [folder]="this.puzzle02Folder"
                ></app-input-img>
              </div>
            </ng-container>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewGameScene()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
