<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="user">
          {{ id ? 'Chỉnh sửa' : 'Thêm mới' }}
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light" routerLink="/users"><i class="fa fa-arrow-left"></i>Quay lại</button>
    </div>
  </div>
  <div class="card-body mb-3">
    <div class="mt-5" *ngIf="formGroup">
      <form action="#" class="form form-label-right" (ngSubmit)="save()" [formGroup]="formGroup">
        <div class="form-group row gutters-b">
          <div class="col-lg-6">
            <label>Họ và tên <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              name="userName"
              [class.is-invalid]="isControlInvalid('userName')"
              [class.is-valid]="isControlValid('userName')"
              formControlName="userName"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'userName')">Vui lòng nhập tên nhân sự</div>
          </div>

          <div class="col-lg-6">
            <label>Vai trò<span class="text-danger">*</span></label>
            <select
              class="form-control"
              name="roleId"
              formControlName="roleId"
              [class.is-invalid]="isControlInvalid('roleId')"
              [class.is-valid]="isControlValid('roleId')"
            >
              <option value="">Chọn vai trò</option>
              <option [value]="r.id" *ngFor="let r of roles">
                {{ r.name }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'roleId')">Vui lòng chọn vai trò</div>
          </div>

          <div class="col-lg-6 mt-3">
            <label>Email <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              name="email"
              formControlName="email"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">Vui lòng nhập email</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">Vui lòng đúng định dạng email</div>
          </div>

          <div class="col-lg-6 mt-3">
            <label>Giới tính</label>
            <select class="form-control" name="gender" formControlName="gender" [class.is-valid]="isControlValid('gender')">
              <option value="1">Nam</option>
              <option value="2">Nữ</option>
            </select>
          </div>

          <div class="col-lg-6 mt-3">
            <label
              >Số điện thoại
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              name="phoneNumber"
              formControlName="phoneNumber"
              [class.is-invalid]="isControlInvalid('phoneNumber')"
              [class.is-valid]="isControlValid('phoneNumber')"
              maxlength="11"
              minlength="10"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'phoneNumber')">Vui lòng nhập số điện thoại</div>
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phoneNumber')">Số điện thoại định dạng sai</div>
          </div>
          <div class="col-lg-6 mt-3">
            <label>Trạng thái</label>
            <select class="form-control" name="status" formControlName="status" [class.is-valid]="isControlValid('status')">
              <option [value]="r.key" *ngFor="let r of status">
                {{ r.value }}
              </option>
            </select>
          </div>
        </div>
        <div class="float-right">
          <button
            type="submit"
            class="btn btn-primary font-weight-bold mr-2 spinner-white spinner-right"
            [disabled]="formGroup?.invalid || isSubmitted"
            [ngClass]="{ spinner: isSubmitted }"
          >
            Lưu lại
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
