<div>
  <div class="mt-3" *ngFor="let c of configs.data; let i=index">
    <div class="label-game-config d-flex">
      <h6>Màn chơi {{i+1}}</h6>
    </div>
    <div class="row section-game">
      <div class="col-md-12 d-flex">
        <div class="flex-grow-1">
          <table class="table table-bordered">
            <tr>
              <td>Từ ngữ</td>
              <td class="w-25">Ảnh 1 (ảnh đầy đủ)</td>
              <td class="w-25">Ảnh 2 (ảnh shadow, ảnh bị cắt)</td>
            </tr>
            <tr>
              <td>
                <input class="form-control" placeholder="Nhập từ" [(ngModel)]="c.Name" [name]="'vocabulary'+i" />
                <p class="mt-3">Audio: <a class="ml-3" (click)="uploadRecourse(c, 'audio')" href="javascript:;">Upload</a></p>
                <a *ngIf="c.LinkAudio" target="_blank" [href]="c.LinkAudio" class="ml-3" style="font-size: 14px; text-decoration: underline"
                  >Nghe thử</a
                >
              </td>
              <td>
                <app-input-img
                  (setValueToChild)="setSrc($event, c, 'LinkPhoto')"
                  [currentUrl]="c.LinkPhoto"
                  type="game"
                  [folder]="folderStore"
                ></app-input-img>
              </td>
              <td>
                <app-input-img
                  (setValueToChild)="setSrc($event, c, 'LinkHiddenPhoto')"
                  [currentUrl]="c.LinkHiddenPhoto"
                  type="game"
                  [folder]="folderStore"
                ></app-input-img>
              </td>
            </tr>
          </table>
        </div>
        <a href="javascript:;" *ngIf="i > 0" class="p-3" title="Xóa màn chơi" (click)="removeSection(i)">
          <i class="ki ki-bold-close icon-lg text-danger"></i>
        </a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
