<div class="card card-custom gutter-b">
  <div class="card-body mt-3">
    <div class="flex-column mb-3">
      <div class="d-flex justify-content-between" [style.width]="'100%'">
        <h4 class="font-size-h4 font-weight-bolder">Yêu cầu hỗ trợ</h4>
      </div>
      <div>
        <p>Chúng tôi sử dụng hệ thống quản lý khách hàng để hỗ trợ và hướng dẫn khách hàng thao tác, sử dụng dịch vụ.</p>
        <p class="mb-0">
          Nếu bạn có nhu cầu hỗ trợ và hướng dẫn vui lòng gọi đến số tổng đài của chúng tôi hoặc gửi yêu cầu hỗ trợ tới bộ phận có liên quan để được
          hỗ trợ nhanh nhất.
        </p>
      </div>
    </div>
    <div class="py-0">
      <div class="wraper">
        <div class="card gutter-b mb-5">
          <div class="card-body px-5 py-4 bg-light">
            <h4 class="font-size-h4 font-weight-bolder">Tổng đài hỗ trợ</h4>
            <h3 class="font-size-h3 font-weight-bolder text-success">
              <a href="tel:1900 0101">1900 0101</a>
            </h3>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">8h00-17h00 Thứ Hai đến Thứ Sáu</span>
          </div>
        </div>
        <div class="card gutter-b">
          <div class="card-body px-5 py-4 bg-light">
            <h6>Gửi yêu cầu hỗ trợ</h6>

            <form class="form" (ngSubmit)="sendRequest($event)">
              <div class="form-group row mb-2">
                <div class="col-12 col-form-label">
                  <div class="radio-list">
                    <label class="radio" *ngFor="let is of categories">
                      <input type="radio" name="category" [value]="is" [(ngModel)]="request.category" />
                      <span></span>
                      {{ is }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-2">
                <div class="col-12 col-form-label">
                  <textarea
                    class="form-control"
                    placeholder="Nội dung góp ý"
                    name="content"
                    [(ngModel)]="request.content"
                    required
                    id="exampleTextarea"
                    rows="5"
                  ></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-success font-weight-bolder">Gửi đi</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
