.wrapword {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.background-image-game {
  border: 1px solid #f6f6f6;
  background-color: #fff; 
  width: 150px;
}
.section-game {
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-custom-default {
  color: #3f4254;
  background-color: #fff;
  border-color: #e4e6ef;
}
.btn-active {
  background-color: #f2ce5f !important;
}
