<div>
  <div class="mt-3" *ngFor="let section of sections; let i=index">
    <div class="label-game-config d-flex">
      <h4>Màn chơi {{i+1}}</h4>
    </div>
    <div class="row section-game p-0 d-flex">
      <div class="flex-grow-1">
        <table class="table">
          <tr>
            <td class="w-25">Kiểu sắp xếp ảnh</td>
            <td class="w-50">
              <select class="form-control" name="typeData" [(ngModel)]="section.type" (change)="changeType($event, i)">
                <option *ngFor="let type of typeImages;let i=index" [value]="type.id">{{type.name}}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <td class="w-25">Thứ tự đúng câu truyện</td>
            <td *ngFor="let sRow of section.sectionRows; let j=index">
              <app-input-img (setValueToChild)="setSrc($event, sRow)" [currentUrl]="sRow.LinkImg" type="game" [folder]="folderStore"></app-input-img>
            </td>
          </tr>
          <tr>
            <td>Hình ở vị trí bên dưới</td>
            <td *ngFor="let sRow of section.sectionRows; let z=index">
              <input type="checkbox" (change)="imageOnBotChanged(sRow, $event)" [checked]="!sRow.isOnTop" class="form-control" />
            </td>
          </tr>
        </table>
      </div>
      <a href="javascript:;" class="p-3" *ngIf="i > 0" title="Xóa màn chơi" (click)="removeSection(i)">
        <i class="ki ki-bold-close icon-lg text-danger"></i>
      </a>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary mt-2" (click)="addNewSection()"><i class="ki ki-plus icon-sm"></i> Thêm màn chơi</button>
</div>
