.wrapword {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.background-image-game {
  border: 1px solid #b1b7c1;
  background-color: #ffff;
  height: 100px;
  width: 150px;
}
.classify2-game {
  background: #fafafa;
  // padding-top: 10px;
  // padding-bottom: 10px;
  width: 9;
  // border-radius: 5px;
  // margin-left: 5px;
  // margin-right: 5px;
}

.classify2-game-scene-wrapper {
  background-color: #fafafa;
}

// card active color
.nav-link.active {
  background-color: #f2ce5f !important;
  color: #2c384a !important;
}

// card inactive color
.nav-link {
  color: #2c384a !important;
  background-color: #ffffff;
  border-style: solid !important;
  border: 1px;
  border-color: #b1b7c1;
  height: 34px;
}

// card margin
.nav-item {
  margin-right: 0.75rem !important;
  margin-bottom: 0.25rem;
}

.card-body {
  padding: 0 !important;
}

.section-game {
  border: 1px solid #f3f3f3;
  border-radius: 0;
}
.cursor {
  position: absolute;
  color: #fff;
  width: 60px;
  font-size: 30px;
  font-weight: 650;
  height: 60px;
  border: 4px solid #fff;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  display: none;
  align-items: center;
  justify-content: center;
}
.content-bg-image {
  width: calc(881px * 0.6);
  height: calc(745px * 0.6);
}
.active {
  background-color: #f2ce5f !important;
}
